nav-tabs ul {
  background: #ccc;
}
.nav {
  margin-top: 0;
  padding-left: 5px;
  padding-right: 5px;
}
.pointer {
  cursor: pointer;
}
.tab-close {
  color: gray;
  text-align: right;
  font-size: 12px;
  margin: 0 5px;
  font-weight: bold;
}
.tab.active {
  background: #ccc;
}
.nav-tabs select {
  background: #fff;
  word-wrap: normal;
  font-family: inherit;
  padding: 10px 35px;
  font-size: 14px;
}
.nav-tabs {
  border-bottom: 1px solid #ccc !important;
}
.nav-tabs ul {
  margin: 0px 0 0;
  padding: 0 0 0 20px;
}
.nav-link {
  color: #000;
  border-left-color: #e9ecef;
  border-right-color: #e9ecef;
  border-top-color: #e9ecef;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.nav-link i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.selectTab {
  margin: 0px 10px 0 3%;
}

.dynamicTabs {
  border-color: #e9ecef #e9ecef #dee2e6;
  background: #ffff;
  color: #000 !important;
  margin: 0px 3px 0 0px;
}
.active {
  font-weight: bolder;
  background: #efefef;
  border-left: 1px solid #ccc !important;
  border-right: 1px solid #ccc !important;
  border-top: 1px solid #ccc !important;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.dynamicTabs a {
  color: #828383;
  text-decoration: none;
}
sd-tabs ul {
  margin: 0;
}
