<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="small-box">
        <div class="inner text-xs font-weight-bold text-primary text-uppercase mb-1">
          <h3>45</h3>
          <p>USERS</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="small-box">
        <div class="inner text-xs font-weight-bold text-primary text-uppercase mb-1">
          <h3>56</h3>
          <p>COMPANIES</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="small-box">
        <div class="inner text-xs font-weight-bold text-primary text-uppercase mb-1">
          <h3>64</h3>
          <p>DEALERSHIPS</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="small-box">
        <div class="inner text-xs font-weight-bold text-primary text-uppercase mb-1">
          <h3>63</h3>
          <p>LEADS</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div><canvas class="canvas" id="canvas1"></canvas></div>
    </div>
    <div class="col-sm-6">
      <div><canvas class="canvas" id="canvas2"></canvas></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div><canvas class="canvas" id="canvas3"></canvas></div>
    </div>
    <div class="col-sm-6">
      <div><canvas class="canvas" id="canvas4"></canvas></div>
    </div>
  </div>
</div>