.fa-search {
  position: absolute;
  right: 0;
  padding: 31px 27px;
  top: 12px;
  color: #0747a6 !important;
}

.btn-default {
  color: #333;
  border-color: #8c8c8c;
}

.btn-default:hover {
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

.pointer {
  cursor: pointer;
}

.card-header a {
  color: #3e3f44;
  text-decoration: none;
  background-color: transparent;
}

.fa-angle-down {
  float: left;
  font-size: 25px;
  margin: 0px 6px 0px 0px;
  color: #0747a6 !important;
}

.fa-angle-right {
  float: left;
  font-size: 25px;
  margin: 0px 6px 0px 0px;
  color: #0747a6 !important;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}

.modelDropdown {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  width: 92%;
}

.modelDropdownData {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.modelDropdownData:hover {
  background-color: #d4d4d4;
}

.modal.full-size .modal-body {
  overflow: auto;
  height: calc(100vh - 200px);
}

.modal.full-size .modal-dialog {
  width: calc(100vw - 100px);
  max-width: 800px;
}

.modal-title {
  color: #ec1c24;
}
.modal.full-size .modal-dialog {
  width: 100%;
}
