<div class="card">
  <div class="card-body p-0">
    <ul class="nav nav-tabs">
      <li class="nav-item ml-1">
        <a
          class="nav-link active"
          data-toggle="tab"
          href="#task702"
          aria-expanded="true"
          >Task</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="tab"
          href="#menu1702"
          aria-expanded="false"
          >Call Log</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="tab"
          href="#menu2702"
          aria-expanded="false"
          >Event</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="tab"
          href="#menu3702"
          aria-expanded="false"
          >Email</a
        >
      </li>
    </ul>
    <div class="panel-group">
      <div class="panel panel-default ">
        <div class="tab-content">
          <div id="task702" class="tab-pane fade show active" role="tabpanel">
            <div class="card-body p-0">
              <h4 class="card-title p-3">
                <i class="fa fa-tasks" aria-hidden="true"></i>&nbsp; Task
              </h4>
              <form [formGroup]="taskForm" (ngSubmit)="onTaskSubmit()">
                <div class="p-3">
                  <div>
                    <div id="inserttasksuccess" style="display:none;">
                      <div
                        class="alert alert-success alert-dismissible fade in"
                      >
                        <a
                          href="#"
                          class="close"
                          data-dismiss="alert"
                          aria-label="close"
                          >×</a
                        >
                        <strong>Success!</strong> New Task inserted
                        successfully.
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12" style="padding-bottom: 1px;">
                        <div class="form-group">
                          <label for="usr">Name</label>
                          <input
                            type="text"
                            name="name"
                            id="name"
                            value="xxxx"
                            readonly=""
                            class="form-control"
                            formControlName="name"
                          />
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="usr">subject</label>
                          <input
                            type="text"
                            required=""
                            name="subject"
                            id="subject"
                            class="form-control"
                            formControlName="subject"
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="usr">Assigned To</label>
                          <input
                            type="text"
                            name="assigned_to"
                            id="assigned_to"
                            value="Manikandan Gunasekar"
                            readonly=""
                            class="form-control"
                            formControlName="assigned_to"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-lg-6 col-md-6 col-sm-6"
                        style="padding-bottom: 1px;"
                      >
                        <div class="form-group">
                          <input
                            type="hidden"
                            name="assigned_to_sfid"
                            id="assigned_to_sfid"
                            value="a0E7F00000K4EX2UAN"
                            class="form-control"
                            formControlName="assigned_to_sfid"
                          />

                          <!--<label>Related To</label>-->
                          <input
                            type="hidden"
                            name="type_c"
                            id="type_c"
                            value="Task"
                            class="form-control"
                            formControlName="type_c"
                          />
                          <!--<label>Related To</label>-->
                          <input
                            type="hidden"
                            name="opportunity__c"
                            id="opportunity__c"
                            value="0067F00000MxHJYQA3"
                            class="form-control"
                            formControlName="opportunity__c"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-8" style="padding-bottom: 1px;">
                        <div class="form-group">
                          <label>Due Date</label>
                          <input
                            type="date"
                            required=""
                            name="due_date"
                            id="due_date"
                            class="form-control"
                            formControlName="due_date"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-8" style="padding-bottom: 1px;">
                        <div class="form-group">
                          <label>Status</label>
                          <select required="" class="form-control" id="status" formControlName="status">
                            <option value="">-- None--</option>
                            <option value="Starred">Starred </option>
                            <option value="Not starred">Not starred</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-right">
                  <button type="button" class="btn btn-default">
                    Cancel
                  </button>
                  <input
                    type="submit"
                    class="btn btn-default btn-info"
                    id="submit"
                    value="Save"
                  />
                </div>
              </form>
            </div>
          </div>
          <div id="menu1702" class="tab-pane fade" role="tabpanel">
            <div class="card-body p-0">
              <h4 class="panel-title p-3">
                <i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp; Call
                Log
              </h4>
              <div class="p-3">
                <div class="row">
                  <div id="insertcalllogsuccess" style="display:none;">
                    <div class="alert alert-success alert-dismissible fade in">
                      <a
                        href="#"
                        class="close"
                        data-dismiss="alert"
                        aria-label="close"
                        >×</a
                      >
                      <strong>Success!</strong> New Call Log inserted
                      successfully.
                    </div>
                  </div>
                  <div
                    class="col-lg-6 col-md-6 col-sm-6"
                    style="padding-bottom: 1px;"
                  >
                    <div class="form-group">
                      <label for="usr">Name</label>
                      <input
                        type="text"
                        name="callname"
                        id="name"
                        value="xxxx"
                        readonly=""
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div
                    class="col-lg-6 col-md-6 col-sm-6"
                    style="padding-bottom: 1px;"
                  >
                    <div class="form-group">
                      <label for="usr">Subject</label>
                      <input
                        type="text"
                        name="callsubject"
                        id="subject"
                        class="form-control"
                      />
                    </div>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-md-12" style="padding-bottom: 1px;">
                    <div class="form-group">
                      <label>Comments</label>
                      <textarea
                        class="form-control"
                        rows="3"
                        name="callcomment"
                        id="comment"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div
                  class="col-lg-6 col-md-6 col-sm-6"
                  style="padding-bottom: 1px;"
                >
                  <div class="form-group">
                    <input
                      type="hidden"
                      name="assigned_to_sfid"
                      id="assigned_to_sfid"
                      value="a0E7F00000K4EX2UAN"
                      class="form-control"
                    />

                    <input
                      type="hidden"
                      name="type_c"
                      id="type_c"
                      value="Log a Call"
                      class="form-control"
                    />
                    <input
                      type="hidden"
                      name="opportunity__c"
                      id="opportunity__c"
                      value="0067F00000MxHJYQA3"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
            </div>
            <form
              class="demo-form-call-log"
              method="post"
              id="leadCallLogForm"
              name="leadCallLogForm"
              data-parsley-validate=""
              novalidate=""
            ></form>
            <div class="card-footer text-right">
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
              >
                Cancel
              </button>
              <input
                type="submit"
                class="btn btn-default btn-info"
                id="submit"
                value="Save"
              />
            </div>
          </div>
          <div id="menu2702" class="tab-pane fade" role="tabpanel">
            <div class="card-body">
              <h4 class="panel-title">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp; Event
              </h4>
              <form
                class="demo-form-event"
                method="post"
                id="leadEventForm"
                name="leadEventForm"
                data-parsley-validate=""
                novalidate=""
              >
                <div class="panel-body" id="success_body" style="height:auto;">
                  <div id="inserteventsuccess" style="display:none;">
                    <div class="alert alert-success alert-dismissible fade in">
                      <a
                        href="#"
                        class="close"
                        data-dismiss="alert"
                        aria-label="close"
                        >×</a
                      >
                      <strong>Success!</strong> New Event inserted successfully.
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="col-lg-6 col-md-6 col-sm-6"
                      style="padding-bottom: 1px;"
                    >
                      <div class="form-group">
                        <label for="usr">Name</label>
                        <input
                          type="text"
                          name="name"
                          id="name"
                          value="xxxx"
                          readonly=""
                          class="form-control"
                        />
                      </div>
                    </div>
                    <div
                      class="col-lg-6 col-md-6 col-sm-6"
                      style="padding-bottom: 1px;"
                    >
                      <div class="form-group">
                        <label for="usr">Subject</label>
                        <input
                          type="text"
                          name="subject"
                          id="subject"
                          class="form-control"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="col-lg-6 col-md-6 col-sm-6"
                      style="padding-bottom: 1px;"
                    >
                      <div class="form-group">
                        <label for="usr">Start Date</label>
                        <input
                          type="date"
                          name="start_date"
                          id="start_date"
                          class="form-control"
                        />
                      </div>
                    </div>
                    <div
                      class="col-lg-6 col-md-6 col-sm-6"
                      style="padding-bottom: 1px;"
                    >
                      <div class="form-group">
                        <label for="usr">End Date</label>
                        <input
                          type="date"
                          name="end_date"
                          id="end_date"
                          class="form-control"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="col-lg-6 col-md-6 col-sm-6"
                      style="padding-bottom: 1px;"
                    >
                      <div class="form-group">
                        <!--<label>Related To</label>-->
                        <input
                          type="hidden"
                          name="related_to"
                          id="related_to"
                          class="form-control"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="col-lg-6 col-md-6 col-sm-6"
                      style="padding-bottom: 1px;"
                    >
                      <div class="form-group">
                        <label for="usr">Assigned To</label>
                        <input
                          type="text"
                          name="assigned_to"
                          id="assigned_to"
                          value="Manikandan Gunasekar"
                          readonly=""
                          class="form-control"
                        />
                      </div>
                    </div>
                    <div
                      class="col-lg-6 col-md-6 col-sm-6"
                      style="padding-bottom: 1px;"
                    >
                      <div class="form-group">
                        <label>Location</label>
                        <input
                          type="text"
                          name="location"
                          id="location"
                          class="form-control"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12" style="padding-bottom: 1px;">
                    <div class="form-group">
                      <!--<label>Related To</label>-->
                      <input
                        type="hidden"
                        name="assigned_to_sfid"
                        id="assigned_to_sfid"
                        value="a0E7F00000K4EX2UAN"
                        class="form-control"
                      />
                      <!--<label>Related To</label>-->
                      <input
                        type="hidden"
                        name="type_c"
                        id="type_c"
                        value="Event"
                        class="form-control"
                      />
                      <!--<label>Related To</label>-->
                      <input
                        type="hidden"
                        name="opportunity__c"
                        id="opportunity__c"
                        value="0067F00000MxHJYQA3"
                        class="form-control"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div
                      class="col-lg-6 col-md-6 col-sm-6"
                      style="padding-bottom: 1px;"
                    >
                      <div class="form-group">
                        <label for="usr">All-Day Event</label><br />
                        <input
                          type="checkbox"
                          name="all_day_event"
                          id="all_day_event"
                          value="All Day Event"
                          data-parsley-multiple="all_day_event"
                        />
                      </div>
                    </div>
                    <div
                      class="col-lg-6 col-md-6 col-sm-6"
                      style="padding-bottom: 1px;"
                    >
                      <div class="form-group"></div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="card-footer text-right" id="footer_close">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                >
                  Cancel
                </button>
                <input
                  type="submit"
                  class="btn btn-default btn-info"
                  id="submit"
                  value="Save"
                />
              </div>
            </div>
          </div>
          <div id="menu3702" class="tab-pane fade" role="tabpanel">
            <div class="card-body p-0">
              <h4 class="p-3">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;Email
              </h4>
              <div class="p-3">
                <form
                  class="demo-form-email"
                  method="post"
                  id="leadEmailForm"
                  name="leadEmailForm"
                  data-parsley-validate=""
                  novalidate=""
                >
                  <div>
                    <div id="insertemailsuccess" style="display:none;">
                      <div
                        class="alert alert-success alert-dismissible fade in"
                      >
                        <a
                          href="#"
                          class="close"
                          data-dismiss="alert"
                          aria-label="close"
                          >×</a
                        >
                        <strong>Success!</strong> Email inserted successfully.
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12" style="padding-bottom: 1px;">
                        <div class="form-group">
                          <label for="usr">*From</label>
                          <input
                            type="email"
                            name="emailfrom"
                            id="emailfrom"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12" style="padding-bottom: 1px;">
                        <div class="form-group">
                          <label>To</label>
                          <input
                            type="email"
                            name="emailto"
                            id="emailto"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12" style="padding-bottom: 1px;">
                        <div class="form-group">
                          <label for="usr">Bcc</label>
                          <input
                            type="email"
                            name="emailbcc"
                            id="emailbcc"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-lg-12 col-md-12 col-sm-12"
                        style="padding-bottom: 1px;"
                      >
                        <div class="form-group">
                          <br />
                          <div id="summernote">
                            <p></p>
                          </div>
                          <br />
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div
                        class="col-lg-12 col-md-12 col-sm-12"
                        style="padding-bottom: 1px;"
                      >
                        <div class="form-group">
                          <label>Subject</label>
                          <textarea
                            name="emailsubject"
                            id="emailsubject"
                            rows="3"
                            class="form-control"
                            placeholder="Enter Subject"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                    <div
                      class="col-lg-6 col-md-6 col-sm-6"
                      style="padding-bottom: 1px;"
                    >
                      <div class="form-group">
                        <!--<label>Related To</label>-->
                        <input
                          type="hidden"
                          name="assigned_to_sfid"
                          id="assigned_to_sfid"
                          value="a0E7F00000K4EX2UAN"
                          class="form-control"
                        />
                        <!--<label>Related To</label>-->
                        <input
                          type="hidden"
                          name="type_c"
                          id="type_c"
                          value="Email"
                          class="form-control"
                        />
                        <!--<label>Related To</label>-->
                        <input
                          type="hidden"
                          name="opportunity__c"
                          id="opportunity__c"
                          value="0067F00000MxHJYQA3"
                          class="form-control"
                        />
                      </div>
                    </div>
                    <br />
                    <div id="summernote">
                      <p></p>
                    </div>
                  </div>
                </form>
              </div>
              <div class="card-footer text-right">
                <button type="button" class="btn btn-default">
                  Cancel
                </button>
                <input
                  type="submit"
                  class="btn btn-default btn-info"
                  id="submit"
                  value="Save"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card mt-3">
  <div class="card-header">
    Notifications
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div id="accordion" role="tablist" aria-multiselectable="true"></div>
        </div>
      </div>
    </div>
  </div>
</div>
