<sd-navigation-bar></sd-navigation-bar>
<div class="loader" *ngIf="loaderOne"></div>
<div class="container alert alert-success" *ngIf="updateSuccess">
  <strong>Success! </strong> Stock Updated
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
</div>
<div class="container alert alert-danger" *ngIf="updateFailure">
  <strong>Failed! </strong> Operation Failed.
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
</div>
<div class="card-head" style="width: 75%;">
  <div class="row">
    <div class="col-sm-6">
      <div class="pt-1 pl-2">
        <img class="mr-2" src="/assets/images/warehouse.png" />
        <span style="font-size:18px;">{{ stock.name }}</span>
      </div>
    </div>
    <div class="col-sm-6">
      <div class=" row pull-right">
        <button
          type="button"
          title="Edit"
          class="btn btn-default inlineEditBtn170"
          (click)="viewEdit()"
          *ngIf="!visibleEdit"
        >
          Edit
        </button>
        <button
          type="button"
          title="Edit"
          class="btn btn-default inlineEditBtn170"
          (click)="onSubmitUpdate()"
          *ngIf="visibleEdit"
        >
          Save
        </button>
        <!-- <button type="button" edit_id="btn1170" title="Edit" class="btn btn-default inlineEditBtn170" *ngIf="visible1" (click)="visible2 = !visible1">
            Save
          </button> -->
        <button
          type="button"
          title="Details"
          id="btn1170"
          class="btn btn-md btn-default mr-2 ml-2"
          [ngClass]="{
            'btn-primary': visibleDetail
          }"
          (click)="viewDetail()"
        >
          <i class="fas fa-th"></i> Details
        </button>
        <button
          title="Activity"
          type="button"
          id="btn2170"
          class="btn btn-default btn-md mr-1"
          (click)="viewRelated()"
          [ngClass]="{
            'btn-primary': visibleRelated
          }"
        >
          <i class="fas fa-th-list"></i> Related
        </button>
      </div>
    </div>
  </div>
</div>

<section *ngIf="visibleDetail">
  <div class="row">
    <div class="col-md-9">
      <div class="card">
        <div class="card-header pointer">
          <a (click)="visibleOne = !visibleOne">
            <i class="fa fa-angle-right" *ngIf="visibleOne"></i>
            <i class="fa fa-angle-down" *ngIf="!visibleOne"></i>
            <p>Vehicle Information</p>
          </a>
        </div>
        <div class="card-block" *ngIf="!visibleOne">
          <div class="row">
            <div class="col-md-9">
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label>Stock No :</label>
                    <!-- $details[0]->sfid-->
                    <span
                      name="name"
                      dropname="text"
                      type="text"
                      inlinetext="124578A"
                      class=" form-control-static inlineEditEnb"
                    >
                      {{ stock.name }}</span
                    >
                  </div>

                  <div class="form-group">
                    <label>Selling Dealer :</label>
                    <span
                      pattern="[a-zA-Z\sàèéìòù]+"
                      name="selling_dealer__c"
                      dropname="text"
                      type="text"
                      inlinetext="ABC Berkeley Toyota"
                      class=" form-control-static noEdit"
                    >
                      {{ stock.selling_dealer__c }}</span
                    >
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                    <label>Vin :</label>
                    <span
                      name="vin__c"
                      dropname="text"
                      type="text"
                      inlinetext="1234"
                      class=" form-control-static inlineEditEnb"
                    >
                      {{ stock.vin__c }}</span
                    >
                  </div>
                  <div class="form-group">
                    <label>Reg No : </label>
                    <span
                      name="rego_no__c"
                      dropname="text"
                      type="text"
                      inlinetext=""
                      class=" form-control-static inlineEditEnb"
                    >
                      {{ stock.rego_no__c }}</span
                    >
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                    <label>Manafacture Year :</label>
                    <span
                      name="manufacture_year__c"
                      dropname="text"
                      type="text"
                      inlinetext=""
                      class=" form-control-static inlineEditEnb"
                    >
                      {{ stock.manufacture_year__c }}</span
                    >
                  </div>
                  <div class="form-group">
                    <label>Body type :</label>
                    <span
                      name="body_type__c"
                      dropname="text"
                      type="text"
                      inlinetext=""
                      class=" form-control-static inlineEditEnb"
                    >
                      {{ stock.body_type__c }}</span
                    >
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                    <label>Body Color :</label>
                    <span
                      name="body_colour__c"
                      dropname="text"
                      type="text"
                      inlinetext="Red"
                      class=" form-control-static inlineEditEnb"
                    >
                      {{ stock.body_colour__c }}</span
                    >
                  </div>
                  <div class="form-group">
                    <label>Price :</label>
                    <span
                      name="egc_price__c"
                      dropname="text"
                      type="text"
                      inlinetext=""
                      class=" form-control-static inlineEditEnb"
                    >
                      {{ stock.egc_price__c }}</span
                    >
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                    <label>Series :</label>
                    <span
                      name="series_c__c"
                      dropname="text"
                      type="text"
                      inlinetext=""
                      class=" form-control-static inlineEditEnb"
                    >
                      {{ stock.series_c__c }}</span
                    >
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                    <label>Vehicle Type :</label>
                    <span
                      name="vehicle_type__c"
                      dropname="text"
                      type="text"
                      inlinetext="New"
                      class=" form-control-static inlineEditEnb"
                    >
                      {{ stock.vehicle_type__c }}</span
                    >
                    <!-- <span class="form-control-static">New</span> -->
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                    <label>Fuel Type :</label>
                    <span
                      name="fuel_type__c"
                      dropname="text"
                      type="text"
                      inlinetext=""
                      class=" form-control-static inlineEditEnb"
                    >
                      {{ stock.fuel_type__c }}</span
                    >
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                    <label>Make :</label>
                    <span
                      name="make__c"
                      dropname="text"
                      type="text"
                      inlinetext=""
                      class=" form-control-static inlineEditEnb"
                    >
                      {{ stock.make__c }}</span
                    >
                  </div>
                </div>

                <div class="col-sm-3">
                  <div class="form-group">
                    <label>Model :</label>

                    <span
                      name="model__c"
                      dropname="text"
                      type="text"
                      inlinetext=""
                      class=" form-control-static inlineEditEnb"
                    >
                      {{ stock.model__c }}</span
                    >
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="col-md-3">
                <div class="row">
                   <div class="col-md-12">
                    Indicators 
                                   <img src="https://app-retail-gjaya79.c9users.io/final/assets/images/Default_Image.jpg" class="img-rounded" alt="Cinque Terre" width="250px" height="150px">

                    Left and right controls 
                   
                      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                           <span class="glyphicon glyphicon-chevron-left"></span>
                           <span class="sr-only">Previous</span>
                         </a>
                         <a class="right carousel-control" href="#myCarousel" data-slide="next">
                           <span class="glyphicon glyphicon-chevron-right"></span>
                           <span class="sr-only">Next</span>
                         </a>
                     
                </div>
             </div>
          </div> -->
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header pointer">
          <a (click)="visibleTwo = !visibleTwo">
            <i class="fa fa-angle-right" *ngIf="visibleTwo"></i>
            <i class="fa fa-angle-down" *ngIf="!visibleTwo"></i>
            <p>System Information</p>
          </a>
        </div>
        <div class="card-block" *ngIf="!visibleTwo">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Created by :</label>
                <span class="form-control-static"></span>
              </div>
              <div class="form-group">
                <label>Created Date :</label>
                <span class="form-control-static"> 2019-04-12 07:22:00</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Last modified by :</label>
                <span class="form-control-static"></span>
              </div>
              <div class="form-group">
                <label>Last modified date :</label>
                <span class="form-control-static"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="visibleEdit">
  <form (ngSubmit)="onSubmitUpdate()" [formGroup]="vehicleStockForm">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header pointer">
            <a (click)="visibleOne = !visibleOne">
              <i class="fa fa-angle-right" *ngIf="visibleOne"></i>
              <i class="fa fa-angle-down" *ngIf="!visibleOne"></i>
              <p>Vehicle Information</p>
            </a>
          </div>
          <div class="card-block" *ngIf="!visibleOne">
            <div class="row">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Stock No:</label>
                      <!-- $details[0]->sfid-->
                      <span class=" form-control-static inlineEditEnb"
                        ><input
                          type="text"
                          pattern="[a-zA-Z0-9\sàèéìòù]+"
                          formControlName="name"
                          name="name"
                          class="form-control"
                          required=""
                      /></span>
                      <div
                        *ngIf="
                          submitted && vehicleStockForm.controls.name.errors
                        "
                        class="error"
                      >
                        <div
                          *ngIf="vehicleStockForm.controls.name.errors.required"
                        >
                          <p class="error-box margin-top-0">
                            Stock Number is Required
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Selling Dealer:</label>
                      <span class=" form-control-static noEdit">{{
                        this.stock.selling_dealer__c
                      }}</span>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Vin:</label>
                      <span class=" form-control-static inlineEditEnb"
                        ><input
                          name="vin__c"
                          class="mainLoop form-control"
                          type="text"
                          formControlName="vin__c"
                      /></span>

                      <!-- <span class="form-control-static">1234</span> -->
                    </div>
                    <div class="form-group">
                      <label>Reg No: </label>
                      <span class=" form-control-static inlineEditEnb"
                        ><input
                          name="rego_no__c"
                          class="mainLoop form-control"
                          type="text"
                          formControlName="rego_no__c"
                      /></span>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Manafacture Year:</label>
                      <span class=" form-control-static inlineEditEnb"
                        ><input
                          formControlName="manufacture_year__c"
                          name="manufacture_year__c"
                          class="mainLoop form-control"
                          type="text"
                      /></span>
                    </div>
                    <div class="form-group">
                      <label>Body type:</label>
                      <span class=" form-control-static inlineEditEnb"
                        ><input
                          name="body_type__c"
                          class="mainLoop form-control"
                          type="text"
                          formControlName="body_type__c"
                      /></span>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Body Color:</label>
                      <span class=" form-control-static inlineEditEnb"
                        ><input
                          name="body_colour__c"
                          class="mainLoop form-control"
                          type="text"
                          formControlName="body_colour__c"
                      /></span>
                    </div>
                    <div class="form-group">
                      <label>Price:</label>
                      <span class=" form-control-static inlineEditEnb"
                        ><input
                          name="egc_price__c"
                          class="mainLoop form-control"
                          type="text"
                          formControlName="egc_price__c"
                      /></span>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Series:</label>
                      <span class=" form-control-static inlineEditEnb"
                        ><input
                          name="series_c__c"
                          class="mainLoop form-control"
                          type="text"
                          formControlName="series_c__c"
                      /></span>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Vehicle Type</label>
                      <span class=" form-control-static inlineEditEnb"
                        ><input
                          name="vehicle_type__c"
                          class="mainLoop form-control"
                          type="text"
                          formControlName="vehicle_type__c"
                      /></span>

                      <!-- <span class="form-control-static">New</span> -->
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Fuel Type</label>
                      <span class=" form-control-static inlineEditEnb"
                        ><input
                          name="fuel_type__c"
                          class="mainLoop form-control"
                          type="text"
                          formControlName="fuel_type__c"
                      /></span>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Make</label>
                      <span class=" form-control-static inlineEditEnb"
                        ><input
                          name="make__c"
                          class="mainLoop form-control"
                          type="text"
                          formControlName="make__c"
                      /></span>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Model</label>
                    </div>
                    <span class=" form-control-static inlineEditEnb"
                      ><input
                        name="model__c"
                        class="mainLoop form-control"
                        type="text"
                        formControlName="model__c"
                    /></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header pointer">
            <a (click)="visibleTwo = !visibleTwo">
              <i class="fa fa-angle-right" *ngIf="visibleTwo"></i>
              <i class="fa fa-angle-down" *ngIf="!visibleTwo"></i>
              <p>System Information</p>
            </a>
          </div>
          <div class="card-block" *ngIf="!visibleTwo">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Created by :</label>
                  <span class="form-control-static"></span>
                </div>
                <div class="form-group">
                  <label>Created Date :</label>
                  <span class="form-control-static">{{
                    vehicleStockForm.createddate
                  }}</span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Last modified by :</label>
                  <span class="form-control-static"></span>
                </div>
                <div class="form-group">
                  <label>Last modified date :</label>
                  <span class="form-control-static"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>

<section *ngIf="visibleRelated">
  <div class="row">
    <div class="col-sm-9">
      <div class="card">
        <div class="card-header padding-head pointer">
          <h4 class="card-title pull-left" style="padding-top: 7.5px;">
            Attachment
          </h4>
          <div class="btn-group pull-right">
            <a href="#" class="btn btn-default btn-sm" (click)="addAttachment()"
              >Attachment</a
            >
          </div>
        </div>
        <div class="card-body"></div>
      </div>

      <div class="card card-default" style="margin-top: 10px;">
        <div
          class="card-heading"
          style="background-color:#fff;border-bottom:1px  solid #ddd;"
        >
          Vehicle Stock History ({{ relatedListData.total }})
        </div>
        <div class="card-body">
          <div
            id="example3_wrapper"
            class="dataTables_wrapper form-inline dt-bootstrap no-footer"
          >
            <div class="row mb-3">
              <div class="col-sm-6">
                <div class="dataTables_length" id="example3_length">
                  <label
                    >Show
                    <select
                      name="example3_length"
                      aria-controls="example3"
                      class="form-control input-sm"
                      (change)="pageCount($event.target.value)"
                    >
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                    entries</label
                  >
                </div>
              </div>
              <div class="col-sm-6">
                <div id="example3_filter" class="dataTables_filter">
                  <label
                    >Search:<input
                      type="search"
                      (keyup)="searchList($event.target.value)"
                      class="form-control input-sm"
                      placeholder=""
                      aria-controls="example3"
                  /></label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table
                  class="table table-condensed dataTable no-footer"
                  id="example3"
                  role="grid"
                  aria-describedby="example3_info"
                >
                  <thead class=" text-primary pointer">
                    <th (click)="sortData('createddate')">
                      Date
                    </th>
                    <th>
                      <a href="#">
                        <i
                          class="fas fa-sort-amount-down"
                          (click)="sortData('field')"
                        ></i>
                      </a>
                      Field
                    </th>
                    <th>
                      <a href="#">
                        <i
                          class="fas fa-sort-amount-down"
                          (click)="sortData('createddate')"
                        ></i>
                      </a>
                      User
                    </th>
                    <th>
                      <a href="#">
                        <i
                          class="fas fa-sort-amount-down"
                          (click)="sortData('oldvalue')"
                        ></i>
                      </a>
                      Original value
                    </th>
                    <th>
                      <a href="#">
                        <i
                          class="fas fa-sort-amount-down"
                          (click)="sortData('newvalue')"
                        ></i>
                      </a>
                      New Value
                    </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let related of relatedListData.data">
                      <td>{{ related.createddate }}</td>
                      <td>{{ related.field }}</td>
                      <td>{{ related.createddate }}</td>
                      <td>{{ related.oldvalue }}</td>
                      <td>{{ related.newvalue }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row w-auto">
                <div class="col-sm-5 p-0">
                  <div
                    class="dataTables_info mt-4"
                    id="example_info"
                    role="status"
                    aria-live="polite"
                  >
                    Showing {{ relatedListData.from }} to
                    {{ relatedListData.to }} of
                    {{ relatedListData.total }} entries
                  </div>
                </div>
                <div class="col-sm-7">
                  <div
                    class="dataTables_paginate paging_simple_numbers d-flex float-right pointer"
                    id="example_paginate"
                  >
                    <ul class="pagination">
                      <ul class="pagination justify-content-end">
                        <li
                          class="page-item"
                          [ngClass]="{ disabled: relatedListData.current_page === 1 }"
                          (click)="pageNumber(relatedListData.current_page - 1)"
                        >
                          <a class="page-link">Previous</a>
                        </li>
                        <li
                          class="page-item"
                          [ngClass]="{
                            'active bg-dark': relatedListData.current_page == 1
                          }"
                          *ngIf="
                            relatedListData.current_page !=
                            relatedListData.last_page
                          "
                          (click)="pageNumber(1)"
                        >
                          <a class="page-link">1</a>
                        </li>
                        <li
                          class="page-item"
                          *ngIf="relatedListData.current_page >= 5"
                        >
                          <a class="page-link">...</a>
                        </li>
                        <li
                          class="page-item"
                          *ngIf="relatedListData.current_page >= 5"
                          (click)="pageNumber(relatedListData.current_page - 1)"
                        >
                          <a class="page-link">{{ relatedListData.current_page - 1 }}</a>
                        </li>
                        <li
                          class="page-item active bg-dark"
                          *ngIf="
                            relatedListData.current_page >= 5 &&
                            relatedListData.last_page !=
                              relatedListData.current_page
                          "
                          (click)="pageNumber(relatedListData.current_page)"
                        >
                          <a class="page-link">{{ relatedListData.current_page }}</a>
                        </li>
                        <li
                          class="page-item"
                          *ngIf="
                            relatedListData.current_page >= 5 &&
                            relatedListData.current_page !=
                              relatedListData.last_page &&
                            relatedListData.current_page + 1 !=
                              relatedListData.last_page
                          "
                          (click)="pageNumber(relatedListData.current_page + 1)"
                        >
                          <a class="page-link">{{ relatedListData.current_page + 1 }}</a>
                        </li>
                        <li
                          class="page-item"
                          [ngClass]="{
                            'active bg-dark': relatedListData.current_page == 2
                          }"
                          *ngIf="
                            relatedListData.current_page < 5 &&
                            relatedListData.last_page > 2
                          "
                          (click)="pageNumber(2)"
                        >
                          <a class="page-link">2</a>
                        </li>
                        <li
                          class="page-item"
                          [ngClass]="{
                            'active bg-dark': relatedListData.current_page == 3
                          }"
                          *ngIf="
                            relatedListData.current_page < 5 &&
                            relatedListData.last_page > 3
                          "
                          (click)="pageNumber(3)"
                        >
                          <a class="page-link">3</a>
                        </li>
                        <li
                          class="page-item"
                          [ngClass]="{
                            'active bg-dark': relatedListData.current_page == 4
                          }"
                          *ngIf="
                            relatedListData.current_page < 5 &&
                            relatedListData.last_page > 4
                          "
                          (click)="pageNumber(4)"
                        >
                          <a class="page-link">4</a>
                        </li>
                        <li
                          class="page-item"
                          [ngClass]="{
                            'active bg-dark': relatedListData.current_page == 5
                          }"
                          *ngIf="
                            relatedListData.current_page < 5 &&
                            relatedListData.last_page > 5
                          "
                          (click)="pageNumber(5)"
                        >
                          <a class="page-link">5</a>
                        </li>
          
                        <li
                          class="page-item"
                          *ngIf="
                            relatedListData.last_page -
                              relatedListData.current_page >
                              1 && relatedListData.last_page > 5
                          "
                        >
                          <a class="page-link">...</a>
                        </li>
          
                        <li
                          class="page-item"
                          [ngClass]="{
                            'active bg-dark':
                              relatedListData.current_page ==
                              relatedListData.last_page
                          }"
                          (click)="pageNumber(relatedListData.last_page)"
                        >
                          <a class="page-link">{{ relatedListData.last_page }}</a>
                        </li>
                        <li
                          class="page-item"
                          [ngClass]="{
                            disabled:
                              relatedListData.current_page ===
                              relatedListData.last_page
                          }"
                          (click)="pageNumber(relatedListData.current_page + 1)"
                        >
                          <a class="page-link">Next</a>
                        </li>
                      </ul>
                    </ul>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div
    class="modal modal-back full-size"
    tabindex="-1"
    role="dialog"
    [ngClass]="{ fade: !attachmentOpen, 'd-flex': attachmentOpen }"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center w-100">File Upload Attachment</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="close()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
            <div class="container-fluid">
              <div class="card input-area mt-3">
                <div class="card-header input-border">
                  <a
                    data-toggle="collapse"
                    href="#card-lead-information"
                    aria-expanded="true"
                    aria-controls="card-lead-information"
                  >
                  </a>
                </div>
                <div>
                  <label class="pointer" for="file"
                    >Drop files here to upload</label
                  >
                  <input type="file" id="file" />
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                (click)="close()"
              >
                Cancel
              </button>
              <button type="button" class="btn btn-info" (click)="onSubmit()">
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
