<div class="container-fluid">
  <div class="col-md-12">
    <div class="btn-group btn-breadcrumb">
      <button color-index="0" class="color-btn btn btn-success">
        New
      </button>
      <button
        color-index="1"
        class="color-btn btn showData workingID btn-success"
        (click)="openNavModal('New Task')"
      >
        Working
      </button>
      <button
        color-index="2"
        class="color-btn btn showData workingID btn-success"
        type="appointmentModal"
        (click)="openNavModal('Appointment Task')"
      >
        Appointment
      </button>
      <button
        color-index="3"
        class="color-btn btn showDataNon workingID btn-success"
        type="quotationModal"
        (click)="openNavModal('Quotation Task')"
      >
        Quotation
      </button>
      <button
        color-index="4"
        class="color-btn btn showData workingID btn-success"
        type="negotiationModal"
        (click)="openNavModal('Negotiation')"
      >
        Negotiation
      </button>
      <button
        color-index="5"
        class="color-btn btn showDataNon saveAllModal btn-info"
        (click)="updateFinalize()"
      >
        Finalize
      </button>
      <button
        color-index="6"
        class="color-btn btn showData workingID btn-info"
        type="closedLostModal"
        (click)="openNavModal('Closed Lost')"
      >
        Closed Lost
      </button>
      <button
        color-index="6"
        class="color-btn btn showData workingID btn-info"
        type="closedWonModal"
        (click)="openNavModal('Close Won')"
      >
        Closed Won
      </button>
      <button
        color-index="7"
        class="color-btn btn showDataNon workingID btn-info"
        type="duplicateModal"
        (click)="openNavModal('Duplicate')"
      >
        Duplicate
      </button>
      <button
        color-index="8"
        class="color-btn btn showDataNon workingID btn-info"
        type="convertedModal"
        (click)="openNavModal('Converted')"
      >
        Converted
      </button>
    </div>
    <br /><br />
  </div>
</div>

<div
  class="modal full-size"
  tabindex="-1"
  role="dialog"
  [ngClass]="{ fade: !navigtionOpen, 'd-flex': navigtionOpen }"
>
  <div class="modal-dialog" role="document">
    <div class="h-auto modal-content">
      <div class="modal-header">
        <h5 class="w-100 text-center modal-title">{{ module }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" [ngSwitch]="module">
        <ng-template [ngSwitchCase]="'New Task'">
          <div *ngIf="navigtionOpen">
            <form (ngSubmit)="onSubmit()" [formGroup]="newTaskForm">
              <div class="container-fluid">
                <div class="card mt-3">
                  <div class="card-header">
                    <a
                      data-toggle="collapse"
                      href="#card-lead-information"
                      aria-expanded="true"
                      aria-controls="card-lead-information"
                    >
                      Working Status
                    </a>
                  </div>
                  <div
                    class="card-body collapse show"
                    id="card-lead-information"
                  >
                    <div class="row">
                      <div
                        class="col-lg-6 col-md-6 col-sm-6"
                        style="padding-bottom: 1px;"
                      >
                        <div class="form-group">
                          <label for="usr">Subject</label>
                          <input
                            type="text"
                            formControlName="first_name__c"
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div
                        class="col-lg-6 col-md-6 col-sm-6"
                        style="padding-bottom: 1px;"
                      >
                        <div class="form-group">
                          <label>Last Name</label>
                          <input
                            type="text"
                            formControlName="last_name__c"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-lg-6 col-md-6 col-sm-6"
                        style="padding-bottom: 1px;"
                      >
                        <div class="form-group">
                          <label for="usr">Mobile</label>
                          <input
                            type="text"
                            formControlName="mobile__c"
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div
                        class="col-lg-6 col-md-6 col-sm-6"
                        style="padding-bottom: 1px;"
                      >
                        <div class="form-group">
                          <label>Email</label>
                          <input
                            type="text"
                            formControlName="email__c"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-lg-6 col-md-6 col-sm-6"
                        style="padding-bottom: 1px;"
                      >
                        <div class="form-group">
                          <label for="usr">Post Code</label>
                          <input
                            type="text"
                            formControlName="zip_postal_code__c"
                            class=" form-control"
                          />
                        </div>
                      </div>
                    </div>
                    <!--- end of row -->
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                  (click)="closeModal()"
                >
                  cancel
                </button>
                <button type="submit" class="btn btn-info">
                  Save
                </button>
              </div>
            </form>
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'Appointment Task'">
          <div *ngIf="navigtionOpen">
            <form
              (ngSubmit)="onSubmit(appointmentTaskForm)"
              [formGroup]="appointmentTaskForm"
            >
              <div class="container-fluid">
                <div class="card mt-3">
                  <div class="card-header">
                    <a
                      data-toggle="collapse"
                      href="#card-lead-information"
                      aria-expanded="true"
                      aria-controls="card-lead-information"
                    >
                      Appointment Status
                    </a>
                  </div>
                  <div
                    class="card-body collapse show"
                    id="card-lead-information"
                  >
                    <div class="row">
                      <div
                        class="col-lg-6 col-md-6 col-sm-6"
                        style="padding-bottom: 1px;"
                      >
                        <div class="form-group">
                          <label for="usr">Address</label>
                          <input type="text" class="form-control" />
                        </div>
                      </div>
                      <div
                        class="col-lg-6 col-md-6 col-sm-6"
                        style="padding-bottom: 1px;"
                      >
                        <div class="form-group">
                          <label>License Number</label>
                          <input
                            type="text"
                            name="license_number__c"
                            formControlName="license_number__c"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>
                    <!--- end of row -->
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                  (click)="closeModal()"
                >
                  cancel
                </button>
                <button type="submit" class="btn btn-info">
                  Save
                </button>
              </div>
            </form>
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'Quotation Task'">
          <div *ngIf="navigtionOpen">
            <form
              (ngSubmit)="onSubmit(quotationTaskForm)"
              [formGroup]="quotationTaskForm"
            >
              <div class="container-fluid">
                <div class="card mt-3">
                  <div class="card-header">
                    <a
                      data-toggle="collapse"
                      href="#card-lead-information"
                      aria-expanded="true"
                      aria-controls="card-lead-information"
                    >
                      Quotation Modal Status
                    </a>
                  </div>
                  <div
                    class="card-body collapse show"
                    id="card-lead-information"
                  >
                    <div class="row">
                      <div
                        class="col-lg-6 col-md-6 col-sm-6"
                        style="padding-bottom: 1px;"
                      >
                        <div class="form-group">
                          <label>Place of work:</label>
                          <input
                            type="text"
                            name="place_of_work__c"
                            formControlName="place_of_work__c"
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div
                        class="col-lg-6 col-md-6 col-sm-6"
                        style="padding-bottom: 1px;"
                      >
                        <div class="form-group">
                          <label>Family Details:</label>
                          <input
                            type="text"
                            name="family_details__c"
                            formControlName="family_details__c"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                  (click)="closeModal()"
                >
                  cancel
                </button>
                <button type="submit" class="btn btn-info">
                  Save
                </button>
              </div>
            </form>
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'Negotiation'">
          <div *ngIf="navigtionOpen">
            <form
              (ngSubmit)="onSubmit(negotiationTaskForm)"
              [formGroup]="negotiationTaskForm"
            >
              <div class="container-fluid">
                <div class="card mt-3">
                  <div class="card-header">
                    <a
                      data-toggle="collapse"
                      href="#card-lead-information"
                      aria-expanded="true"
                      aria-controls="card-lead-information"
                    >
                      Working Status
                    </a>
                  </div>
                  <div
                    class="card-body collapse show"
                    id="card-lead-information"
                  >
                    <div class="row">
                      <div
                        class="col-lg-6 col-md-6 col-sm-6"
                        style="padding-bottom: 1px;"
                      >
                        <div class="form-group">
                          <label
                            ><input
                              type="checkbox"
                              formControlName="introduction_to_finance_manager__c"
                            />
                            Introduction to manager</label
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                  (click)="closeModal()"
                >
                  cancel
                </button>
                <button type="submit" class="btn btn-info">
                  Save
                </button>
              </div>
            </form>
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'Closed Lost'">
          <div *ngIf="navigtionOpen">
            <form
              (ngSubmit)="onSubmit(closedLostTaskForm)"
              [formGroup]="closedLostTaskForm"
            >
              <div class="container-fluid">
                <div class="card mt-3">
                  <div class="card-header">
                    <a
                      data-toggle="collapse"
                      href="#card-lead-information"
                      aria-expanded="true"
                      aria-controls="card-lead-information"
                    >
                      closed Lost
                    </a>
                  </div>
                  <div
                    class="card-body collapse show"
                    id="card-lead-information"
                  >
                    <div class="row">
                      <div
                        class="col-lg-6 col-md-6 col-sm-6"
                        style="padding-bottom: 1px;"
                      >
                        <div class="form-group">
                          <label>Notes:</label>
                          <!--
                                <input type="text" name="place_of_work__c" used="place_of_work__c" class="1common_txt_box703Quotation place_of_work__c703 form-control">
                                -->
                          <textarea
                            rows="5"
                            class="form-control"
                            formControlName="notes__c"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                  (click)="closeModal()"
                >
                  cancel
                </button>
                <button type="submit" class="btn btn-info">
                  Save
                </button>
              </div>
            </form>
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'Close Won'">
          <div *ngIf="navigtionOpen">
            <form
              (ngSubmit)="onSubmit(closedWonTaskForm)"
              [formGroup]="closedWonTaskForm"
            >
              <div class="container-fluid">
                <div class="card mt-3">
                  <div class="card-header">
                    <a
                      data-toggle="collapse"
                      href="#card-lead-information"
                      aria-expanded="true"
                      aria-controls="card-lead-information"
                    >
                      Working Status
                    </a>
                  </div>
                  <div
                    class="card-body collapse show"
                    id="card-lead-information"
                  >
                    <div class="row">
                      <div
                        class="col-lg-6 col-md-6 col-sm-6"
                        style="padding-bottom: 1px;"
                      >
                        <div class="form-group">
                          <label>Vin Number:</label>
                          <input
                            type="text"
                            name="vin_number__c"
                            formControlName="vin_number__c"
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div
                        class="col-lg-6 col-md-6 col-sm-6"
                        style="padding-bottom: 1px;"
                      >
                        <div class="form-group">
                          <label>Stock Number:</label>
                          <input
                            type="text"
                            name="stock_number__c"
                            formControlName="stock_number__c"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-lg-6 col-md-6 col-sm-6"
                        style="padding-bottom: 1px;"
                      >
                        <div class="form-group">
                          <label>Mobile</label>
                          <input
                            type="text"
                            name="name"
                            formControlName="mobile__c"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                  (click)="closeModal()"
                >
                  cancel
                </button>
                <button type="submit" class="btn btn-info">
                  Save
                </button>
              </div>
            </form>
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'Duplicate'">
          <div *ngIf="navigtionOpen">
            <form
              (ngSubmit)="onSubmit(duplicateTaskForm)"
              [formGroup]="duplicateTaskForm"
            >
              <div class="container-fluid">
                <div class="card mt-3">
                  <div class="card-header">
                    <a
                      data-toggle="collapse"
                      href="#card-lead-information"
                      aria-expanded="true"
                      aria-controls="card-lead-information"
                    >
                      duplicateModal
                    </a>
                  </div>
                  <div
                    class="card-body collapse show"
                    id="card-lead-information"
                  >
                    <div class="row">
                      <div
                        class="col-lg-6 col-md-6 col-sm-6"
                        style="padding-bottom: 1px;"
                      >
                        <div class="form-group">
                          <label>Notes:</label>
                          <!--
                                              <input type="text" name="place_of_work__c" used="place_of_work__c" class="1common_txt_box703Quotation place_of_work__c703 form-control">
                                            -->
                          <textarea
                            rows="6"
                            class="form-control"
                            formControlName="notes__c"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                  (click)="closeModal()"
                >
                  cancel
                </button>
                <button type="submit" class="btn btn-info">
                  Save
                </button>
              </div>
            </form>
          </div>
        </ng-template>
        <ng-template [ngSwitchCase]="'Converted'">
          <div *ngIf="navigtionOpen">
            <form
              (ngSubmit)="onSubmit(convertesTaskForm)"
              [formGroup]="convertesTaskForm"
            >
              <div class="container-fluid">
                <div class="card mt-3">
                  <div class="card-header">
                    <a
                      data-toggle="collapse"
                      href="#card-lead-information"
                      aria-expanded="true"
                      aria-controls="card-lead-information"
                    >
                      Converted
                    </a>
                  </div>
                  <div
                    class="card-body collapse show"
                    id="card-lead-information"
                  >
                    <div class="row">
                      <div
                        class="col-lg-6 col-md-6 col-sm-6"
                        style="padding-bottom: 1px;"
                      >
                        <div class="form-group">
                          <label for="usr">Notes:</label>
                          <!--
                                            <input type="text" name="place_of_work__c" used="place_of_work__c" class="1common_txt_box703Quotation place_of_work__c703 form-control">
                                          -->
                          <textarea
                            rows="6"
                            cols="50"
                            class="form-control"
                            formControlName="notes__c"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-default"
                  data-dismiss="modal"
                  (click)="closeModal()"
                >
                  cancel
                </button>
                <button type="submit" class="btn btn-info">
                  Save
                </button>
              </div>
            </form>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
