
<form (ngSubmit)="onSubmit(resetpasswordForm)" #resetpasswordForm="ngForm">
  <div class="container">
    <h1>Rest password</h1>


    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter password" [(ngModel)]='user.password' #password='ngModel' name='password' required minlength="6">
    <div *ngIf='password.invalid && (password.dirty || password.touched)'>
      <p class="error-box margin-top-0" *ngIf="password.hasError('required')">
        Password is Required
      </p>
      <p class="error-box margin-top-0" *ngIf="password.hasError('minlength')">
       Minimum 6 Characters are Required
      </p>
    </div>


    <label for="password_confirmation"><b>Confirm Password</b></label>
    <input type="password" placeholder="Enter Confirm Password" [(ngModel)]='user.password_confirmation' #password_confirmation='ngModel' name='password_confirmation' required minlength="6">
    <div *ngIf='password_confirmation.invalid && (password_confirmation.dirty || password_confirmation.touched)'>
      <p class="error-box margin-top-0" *ngIf="password_confirmation.hasError('required')">
        Confirm Password is Required
      </p>    
    </div>
    <p class="error-box margin-top-0" *ngIf="notSame">
     {{ notSame }}
    </p>

    <!-- <button type="submit" class="registerbtn">Send</button>  -->
    <button type="submit" [disabled]="!resetpasswordForm.valid" class="login">Send</button> 
  </div>
  
</form>