<div class="container-fluid">
  <div class="col-md-12">
    <div class="btn-group btn-breadcrumb">
      <button href="#" color-index="0" class="color-btn btn btn-success">
        New</button
      ><button
        href="#"
        color-index="1"
        class="color-btn btn showData workingID btn-success"
        sfid="702"
        type="workingModal"
        data-toggle="modal"
        data-target="#workingModal702"
      >
        Working
      </button>
      <button
        href="#"
        color-index="2"
        class="color-btn btn showData workingID btn-success"
        type="appointmentModal"
        data-toggle="modal"
        data-target="#appointmentModal702"
      >
        Appointment
      </button>
      <button
        href="#"
        color-index="3"
        class="color-btn btn showDataNon workingID btn-success"
        type="quotationModal"
        data-toggle="modal"
        data-target="#quotationModal702"
      >
        Quotation
      </button>
      <button
        href="#"
        color-index="4"
        class="color-btn btn showData workingID btn-success"
        type="negotiationModal"
        data-toggle="modal"
        data-target="#negotiationModal702"
      >
        Negotiation
      </button>
      <button
        href="#"
        color-index="5"
        class="color-btn btn showDataNon saveAllModal btn-info"
        typem="Finalize"
        sfid="702"
      >
        Finalize
      </button>
      <button
        href="#"
        color-index="6"
        class="color-btn btn showData workingID btn-info"
        type="closedLostModal"
        data-toggle="modal"
        data-target="#closedLostModal702"
      >
        Closed Lost
      </button>
      <button
        href="#"
        color-index="6"
        class="color-btn btn showData workingID btn-info"
        type="closedWonModal"
        data-toggle="modal"
        data-target="#closedWonModal702"
      >
        Closed Won
      </button>
      <button
        href="#"
        color-index="7"
        class="color-btn btn showDataNon workingID btn-info"
        type="duplicateModal"
        data-toggle="modal"
        data-target="#duplicateModal702"
      >
        Duplicate
      </button>
      <button
        href="#"
        color-index="8"
        class="color-btn btn showDataNon workingID btn-info"
        type="convertedModal"
        data-toggle="modal"
        data-target="#convertedModal702"
      >
        Converted
      </button>
    </div>
    <br /><br />
  </div>
</div>

<section>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <a (click)="visibleOne = !visibleOne">
            <i class="fa fa-angle-down"></i>
            <p>Lead Information</p>
          </a>
        </div>
        <div class="card-block" *ngIf="!visibleOne">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <strong>First Name :</strong>
                <span data-toggle="tooltip" title="" data-original-title="xxxx"
                  ><span
                    pattern="[a-zA-Z\sàèéìòù]+"
                    name="first_name__c"
                    dropname="text"
                    type="text"
                    inlinetext="xxxx"
                    class=" form-control-static inlineEditEnb"
                    >{{ opportunity.first_name__c }}</span
                  ></span
                >
              </div>
              <div class="form-group">
                <label>Email :</label>
                <span
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  name="email__c"
                  dropname="email"
                  type="email"
                  inlinetext="xxxx@gmail.com"
                  class=" form-control-static inlineEditEnb"
                  >{{ opportunity.email__c }}</span
                >
              </div>
              <div class="form-group">
                <label>Mobile :</label>
                <span
                  pattern="\d{1,15}"
                  name="mobile__c"
                  dropname="text"
                  type="text"
                  inlinetext="0123456789"
                  class=" form-control-static inlineEditEnb"
                  >{{ opportunity.mobile__c }}</span
                >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <strong>Last Name:</strong>
                <span
                  pattern="[a-zA-Z\sàèéìòù]+"
                  name="last_name__c"
                  dropname="text"
                  type="text"
                  inlinetext="R"
                  class=" form-control-static inlineEditEnb"
                  >{{ opportunity.last_name__c }}</span
                >
              </div>
              <div class="form-group">
                <label>Company :</label>
                <span
                  pattern="[a-zA-Z\sàèéìòù]+"
                  name="company__c"
                  dropname="text"
                  type="text"
                  inlinetext="test"
                  class=" form-control-static inlineEditEnb"
                  >{{ opportunity.company__c }}</span
                >
              </div>
              <div class="form-group">
                <label>Phone :</label>
                <span
                  pattern="\d{1,15}"
                  name="phone__c"
                  dropname="text"
                  type="text"
                  inlinetext="0123456789"
                  class=" form-control-static inlineEditEnb"
                  >{{ opportunity.phone__c }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a (click)="visibleTwo = !visibleTwo">
            <i class="fa fa-angle-down"></i>
            <p>Lead Details</p>
          </a>
        </div>
        <div class="card-block" *ngIf="!visibleTwo">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <strong>Request Type :</strong>
                <span
                  name="request_type__c"
                  dropname="Request_Type__c"
                  type="Request_Type__c"
                  inlinetext="Digital Brochure Request"
                  class=" form-control-static inlineEditSelect"
                  >{{ opportunity.request_type__c }}</span
                >
              </div>
              <div class="form-group">
                <label>Lead type :</label>
                <span
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  name="email__c"
                  dropname="email"
                  type="email"
                  inlinetext="xxxx@gmail.com"
                  class=" form-control-static inlineEditEnb"
                  >{{ opportunity.email__c }}</span
                >
              </div>
              <div class="form-group">
                <label>Lead Source :</label>
                <span
                  name="lead_source__c"
                  dropname="lead_source__c"
                  type="lead_source__c"
                  inlinetext=""
                  class=" form-control-static inlineEditSelect"
                  >{{ opportunity.lead_source__c }}</span
                >
              </div>
              <div class="form-group">
                <label>Introduction to Finance Manager :</label>
                <!-- <input type="checkbox" name="edit_financemanager" id="edit_financemanager" value="1" disabled=""> -->
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <strong>Selling Dealer:</strong>
                <span
                  name="selling_dealer__c"
                  dropname="text"
                  type="text"
                  inlinetext="ABC Berkeley Toyota"
                  class=" form-control-static noEdit"
                  >{{ opportunity.selling_dealer__c }}</span
                >
              </div>
              <div class="form-group">
                <label>Stock No : </label>
                <span
                  name="stock_number__c"
                  dropname="text"
                  type="text"
                  inlinetext=""
                  class=" form-control-static inlineEditEnb"
                  >{{ opportunity.stock_number__c }}</span
                >
              </div>
              <div class="form-group">
                <label>Lead Status :</label>
                <span
                  name="lead_status__c"
                  dropname="lead_status__c"
                  type="lead_status__c"
                  inlinetext=""
                  class=" form-control-static inlineEditSelect"
                  >{{ opportunity.lead_status__c }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a (click)="visibleThree = !visibleThree">
            <i class="fa fa-angle-down"></i>
            <p>Address Details</p>
          </a>
        </div>
        <div class="card-block" *ngIf="!visibleThree">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Street :</label>
                <span
                  name="street__c"
                  dropname="text"
                  type="text"
                  inlinetext=""
                  class=" form-control-static inlineEditEnb"
                  >{{ opportunity.street__c }}</span
                >
              </div>
              <div class="form-group">
                <label>City :</label>
                <span
                  name="city__c"
                  dropname="text"
                  type="text"
                  inlinetext=""
                  class=" form-control-static inlineEditEnb"
                  >{{ opportunity.city__c }}</span
                >
              </div>
              <div class="form-group">
                <label>State/Province :</label>
                <span
                  name="state_province__c"
                  dropname="text"
                  type="text"
                  inlinetext=""
                  class=" form-control-static inlineEditEnb"
                  >{{ opportunity.lead_source__c }}</span
                >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>State/Province :</label>
                <span
                  name="state_province__c"
                  dropname="text"
                  type="text"
                  inlinetext=""
                  class=" form-control-static inlineEditEnb"
                  >{{ opportunity.state_province__c }}</span
                >
              </div>
              <div class="form-group">
                <label>Zip/PostalCode :</label>
                <span
                  name="zip_postal_code__c"
                  dropname="text"
                  type="text"
                  inlinetext="560099"
                  class=" form-control-static inlineEditEnb"
                  >{{ opportunity.zip_postal_code__c }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <a (click)="visibleFour = !visibleFour">
            <i class="fa fa-angle-down"></i>
            <p>Customer Insight</p>
          </a>
        </div>
        <div class="card-block" *ngIf="!visibleFour">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Previous Customer Name :</label>
                <span
                  name="previous_customer_name__c"
                  dropname="text"
                  type="text"
                  inlinetext="0037F00001MT9zFQAT"
                  class=" form-control-static inlineEditEnb"
                  >{{ opportunity.previous_customer_name__c }}</span
                >
              </div>
            </div>
            <div class="form-group">
              <label> Customer Data Completeness Score :</label>
              <span
                name="customer_data_completeness_score__c"
                dropname="text"
                type="text"
                inlinetext="70"
                class=" form-control-static inlineEditEnb"
                >{{ opportunity.customer_data_completeness_score__c }}</span
              >
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Activity Score :</label>
                <span
                  name="activity_score__c"
                  dropname="text"
                  type="text"
                  inlinetext="2"
                  class=" form-control-static inlineEditEnb"
                  >{{ opportunity.activity_score__c }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <a (click)="visibleSix = !visibleSix">
            <i class="fa fa-angle-down"></i>
            <p>Addtional Information</p>
          </a>
        </div>
        <div class="card-block" *ngIf="!visibleSix">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Primary :</label>
                <span
                  name="primary__c"
                  dropname="primary__c"
                  type="primary__c"
                  inlinetext=""
                  class=" form-control-static inlineEditSelect"
                  >{{ opportunity.primary__c }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <a (click)="visibleFive = !visibleFive">
            <i class="fa fa-angle-down"></i>
            <p>Customer Insight</p>
          </a>
        </div>
        <div class="card-block" *ngIf="!visibleFive">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Previous Customer Name :</label>
                <span
                  name="previous_customer_name__c"
                  dropname="text"
                  type="text"
                  inlinetext="0037F00001MT9zFQAT"
                  class=" form-control-static inlineEditEnb"
                  >{{ opportunity.previous_customer_name__c }}</span
                >
              </div>

              <div class="form-group">
                <label> Customer Data Completeness Score :</label>
                <span
                  name="customer_data_completeness_score__c"
                  dropname="text"
                  type="text"
                  inlinetext="70"
                  class=" form-control-static inlineEditEnb"
                  >{{ opportunity.customer_data_completeness_score__c }}</span
                >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Activity Score :</label>
                <span
                  name="activity_score__c"
                  dropname="text"
                  type="text"
                  inlinetext="2"
                  class=" form-control-static inlineEditEnb"
                  >{{ opportunity.activity_score__c }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <a (click)="visibleSeven = !visibleSeven">
            <i class="fa fa-angle-down"></i>
            <p>System Information</p>
          </a>
        </div>
        <div class="card-block" *ngIf="!visibleSeven">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Created by :</label>
                <span class="form-control-static ">0057F000004MCYXQA4</span>
              </div>
              <div class="form-group">
                <label>Last modified by :</label>
                <span class="form-control-static ">0057F0000031bCmQAI</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Created Date :</label>
                <span class="form-control-static ">2019-03-29 02:17:19</span>
              </div>
              <div class="form-group">
                <label>Last modified date :</label>
                <span class="form-control-static ">2019-04-12 07:14:08</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <sd-activities></sd-activities>
    </div>
  </div>
</section>
