a, a:hover, a:focus{outline:none; text-decoration:none;}


body{
    font-family: 'Open Sans', sans-serif;
}



h2{float:left; width:100%; color:#fff; margin-bottom:30px; font-size: 14px;}
h2 span{font-family: 'Libre Baskerville', serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px; font-weight:700}
h2 a{color:#fff; font-weight:bold;}

section{
    
  float:left;
  width:100%;
  padding:30px 0;
}

.card[_ngcontent-c0] {
  background-color: #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
  border-color: #ddd;
}
.card {
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px;
    border-color: #ddd;
}

.card-header {
  border: 1px solid #efefef;
  background-color: #f9f9f9;
    margin-bottom: 0;
    padding: 1px 1.25rem;
    border-radius: 3px;
    
}
.offset-md-2{
  margin-left: 0;
  flex: 0 0 100%;
  max-width: 100%;
}
.card-header a i{
  float: left;
  font-size: 25px;
  padding-top: 3px;
  margin: 0px 25px 0 0px;
  color: #0747A6 !important;
}
.card-header i{
    float:right;        
    font-size:30px;
    width:1%;
    margin-top:8px;
    margin-right:10px;
}
.card-header a{
    width:97%;
    float:left;
    color:#565656;
}
.card-header p{
    margin: 5px 0;
    color: #333;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}

.card-header h3{
    margin:0 0 0px;
    font-size:20px;
    font-family: 'Slabo 27px', serif;
    font-weight:bold;
    color:#3fc199;
}
.card-block {
    -moz-box-flex: 1;
    flex: 1 1 auto;
    padding: 20px;
    color:#232323;
    box-shadow:inset 0px 4px 5px rgba(0,0,0,0.1);
    border-top:1px soild #000;
    border-radius:0;
}
.font_weight_none{
  font-weight: 100 !important;
}
select.form-control:not([size]):not([multiple]) {
  height: calc(3.25rem + 2px);
}
@media (min-width: 1200px){
  .container {
      width: 100%;
  }
}
.pointer {cursor: pointer;}

.card-head{
  border: 2px solid #efefef;
  background-color: #f9f9f9;
  padding: 5px 15px;
  border-radius: 4px;
}

.fas{
  color: #0747A6 !important;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-primary{
  color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-default:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}