<div class="container-fluid">
  <div class="col-md-12">
    <div class="btn-group btn-breadcrumb">
      <button href="#" color-index="0" class="color-btn btn btn-success">New
      </button><button href="#" color-index="1" class="color-btn btn showData workingID btn-success" sfid="702"
        type="workingModal" data-toggle="modal" data-target="#workingModal702">Working</button>
      <button href="#" color-index="2" class="color-btn btn showData workingID btn-success" type="appointmentModal"
        data-toggle="modal" data-target="#appointmentModal702">Appointment</button>
      <button href="#" color-index="3" class="color-btn btn showDataNon workingID btn-success" type="quotationModal"
        data-toggle="modal" data-target="#quotationModal702">Quotation</button>
      <button href="#" color-index="4" class="color-btn btn showData workingID btn-success" type="negotiationModal"
        data-toggle="modal" data-target="#negotiationModal702">Negotiation</button>
      <button href="#" color-index="5" class="color-btn btn showDataNon saveAllModal btn-info" typem="Finalize"
        sfid="702">Finalize</button>
      <button href="#" color-index="6" class="color-btn btn showData workingID btn-info" type="closedLostModal"
        data-toggle="modal" data-target="#closedLostModal702">Closed Lost</button>
      <button href="#" color-index="6" class="color-btn btn showData workingID btn-info" type="closedWonModal"
        data-toggle="modal" data-target="#closedWonModal702">Closed Won</button>
      <button href="#" color-index="7" class="color-btn btn showDataNon workingID btn-info" type="duplicateModal"
        data-toggle="modal" data-target="#duplicateModal702">Duplicate</button>
      <button href="#" color-index="8" class="color-btn btn showDataNon workingID btn-info" type="convertedModal"
        data-toggle="modal" data-target="#convertedModal702">Converted</button>
    </div>
    <br><br>

  </div>
</div>

<section>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <a (click)="visibleOne = !visibleOne">
            <i class="fa fa-angle-down"></i>
            <p> Driver Information</p>
          </a>
        </div>
        <div class="card-block" *ngIf="!visibleOne">
          <div class="row">
            <div class="col-sm-3">
               <div class="form-group">
                  <label>Name:</label>
                  <span class="form-control-static">{{driver.name}}</span>
               </div>
               <div class="form-group">
                  <label>Account:</label>
                  <span class="form-control-static">{{driver.accountid}}</span>
               </div>
               <div class="form-group">
                  <label>Birthdate:</label>
                  <span class="form-control-static">{{driver.date_of_birth__c}}</span>
               </div>	

               <div class="form-group">
                  <label>Customer:</label>
                  <span class="form-control-static">{{driver.customer_id__c}}</span>
               </div>	
            </div>
  
            <div class="col-sm-3">
               <div class="form-group">
                  <label>Homephone:</label>
                  <span class="form-control-static">{{driver.homephone}}</span>
               </div>
               <div class="form-group">
                  <label>Phone: </label>
                  <span class="form-control-static">{{driver.phone}}</span>
               </div>
   
               <div class="form-group">
                  <label>MobilePhone:</label>
                  <span class="form-control-static">{{driver.mobilephone}}</span>
               </div>		
   
               <div class="form-group">
                  <label>Fax:</label>
                  <span class="form-control-static">{{driver.mobilephone}}
</span>
               </div>			
            </div>

            <div class="col-sm-2">
               <div class="form-group">
                  <label>Billing Address:</label>
                  <span class="form-control-static">{{driver.billing_address__c}}</span>
               </div>	
               <div class="form-group">
                  <label>Billing Suburb:</label>
                  <span class="form-control-static">{{driver.billing_suburb__c}}</span>
               </div>							
               <div class="form-group">
                  <label>Billing postcode:</label>
                  <span class="form-control-static">{{driver.billing_post_code__c}}</span>
               </div>
               <div class="form-group">
                  <label>Billing state:</label>
                  <span class="form-control-static">{{driver.billing_state__c}}</span>
               </div>
 </div>	
 
  <div class="col-sm-2">
               <div class="form-group">
                  <label>Billing Country:</label>
                  <span class="form-control-static">{{driver.billing_country__c}}</span>
               </div>						
               <div class="form-group">
                  <label>Billing Longitude:</label>
                  <span class="form-control-static">{{driver.billing_longitude__c}}</span>
               </div>	
               <div class="form-group">
                  <label>Billing Latitude:</label>
                  <span class="form-control-static">{{driver.billing_latitude__c}}</span>
               </div>		
               <div class="form-group">
                  <label>Billing address valid:</label>
                  <span class="form-control-static">{{driver.billing_address_valid__c}}</span>
               </div>							
            </div>
  
            <div class="col-sm-2">
               <div class="form-group">
                  <label>Model:</label>
                  <span class="form-control-static">{{driver.model__c}}</span>
               </div>
               <div class="form-group">
                  <label>Make: </label>
                  <span class="form-control-static">{{driver.make}}
</span>
               </div>
   
               <div class="form-group">
                  <label>Languages:</label>
                  <span class="form-control-static">{{driver.language_c}}</span>
               </div>		
   
               <div class="form-group">
                  <label>Level:</label>
                  <span class="form-control-static">{{driver.level}}</span>
               </div>			
            </div>

  
  
         </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header">
          <a (click)="visibleTwo = !visibleTwo">
            <i class="fa fa-angle-down"></i>
            <p> System Information</p>
          </a>
        </div>
        <div class="card-block" *ngIf="!visibleTwo">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Created by</label>
                <span class="form-control-static"></span>
             </div>
             <div class="form-group">
                <label>Created Date</label>
                <span class="form-control-static">2019-04-12 07:22:00</span>
             </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Last modified by</label>
                <span class="form-control-static"></span>
             </div>
             <div class="form-group">
                <label>Last modified date</label>
                <span class="form-control-static"></span>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  