<section>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header pointer">
          <a (click)="visibleOne = !visibleOne">
               <i class="fa fa-angle-right" *ngIf="visibleOne"></i>
               <i class="fa fa-angle-down" *ngIf="!visibleOne"></i>
            <p> Driver Information</p>
          </a>
        </div>
        <div class="card-block" *ngIf="!visibleOne">
          <div class="row">
            <div class="col-sm-3">
               <div class="form-group">
                  <label><b>Name :</b></label>
                  <span class="form-control-static"> {{driver.name}}</span>
               </div>
               <div class="form-group">
                  <label><b>Account :</b></label>
                  <span class="form-control-static"> {{driver.accountid}}</span>
               </div>
               <div class="form-group">
                  <label><b> Birthdate :</b></label>
                  <span class="form-control-static"> {{driver.date_of_birth__c}}</span>
               </div>	

               <div class="form-group">
                  <label><b>Customer :</b></label>
                  <span class="form-control-static"> {{driver.customer_id__c}}</span>
               </div>	
            </div>
  
            <div class="col-sm-3">
               <div class="form-group">
                  <label><b>Homephone :</b></label>
                  <span class="form-control-static"> {{driver.homephone}}</span>
               </div>
               <div class="form-group">
                  <label><b>Phone : </b></label>
                  <span class="form-control-static"> {{driver.phone}}</span>
               </div>
   
               <div class="form-group">
                  <label><b>MobilePhone :</b></label>
                  <span class="form-control-static"> {{driver.mobilephone}}</span>
               </div>		
   
               <div class="form-group">
                  <label><b>Fax :</b></label>
                  <span class="form-control-static"> {{driver.mobilephone}}
</span>
               </div>			
            </div>

            <div class="col-sm-2">
               <div class="form-group">
                  <label><b>Billing Address :</b></label>
                  <span class="form-control-static"> {{driver.billing_address__c}}</span>
               </div>	
               <div class="form-group">
                  <label><b>Billing Suburb :</b></label>
                  <span class="form-control-static"> {{driver.billing_suburb__c}}</span>
               </div>							
               <div class="form-group">
                  <label><b>Billing postcode :</b></label>
                  <span class="form-control-static"> {{driver.billing_post_code__c}}</span>
               </div>
               <div class="form-group">
                  <label><b>Billing state :</b></label>
                  <span class="form-control-static"> {{driver.billing_state__c}}</span>
               </div>
 </div>	
 
  <div class="col-sm-2">
               <div class="form-group">
                  <label><b>Billing Country :</b></label>
                  <span class="form-control-static"> {{driver.billing_country__c}}</span>
               </div>						
               <div class="form-group">
                  <label><b>Billing Longitude :</b></label>
                  <span class="form-control-static"> {{driver.billing_longitude__c}}</span>
               </div>	
               <div class="form-group">
                  <label><b>Billing Latitude :</b></label>
                  <span class="form-control-static"> {{driver.billing_latitude__c}}</span>
               </div>		
               <div class="form-group">
                  <label><b>Billing address valid :</b></label>
                  <span class="form-control-static"> {{driver.billing_address_valid__c}}</span>
               </div>							
            </div>
  
            <div class="col-sm-2">
               <div class="form-group">
                  <label><b>Model :</b></label>
                  <span class="form-control-static"> {{driver.model__c}}</span>
               </div>
               <div class="form-group">
                  <label><b>Make :</b> </label>
                  <span class="form-control-static"> {{driver.make}}
</span>
               </div>
   
               <div class="form-group">
                  <label><b>Languages :</b></label>
                  <span class="form-control-static"> {{driver.language_c}}</span>
               </div>		
   
               <div class="form-group">
                  <label><b>Level :</b></label>
                  <span class="form-control-static"> {{driver.level}}</span>
               </div>			
            </div>

  
  
         </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header pointer">
          <a (click)="visibleTwo = !visibleTwo">
               <i class="fa fa-angle-right" *ngIf="visibleTwo"></i>
               <i class="fa fa-angle-down" *ngIf="!visibleTwo"></i>
            <p> System Information</p>
          </a>
        </div>
        <div class="card-block" *ngIf="!visibleTwo">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label><b>Created by :</b></label>
                <span class="form-control-static"></span>
             </div>
             <div class="form-group">
                <label><b>Created Date :</b></label>
                <span class="form-control-static"> 2019-04-12 07:22:00</span>
             </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label><b>Last modified by :</b></label>
                <span class="form-control-static"></span>
             </div>
             <div class="form-group">
                <label><b>Last modified date :</b></label>
                <span class="form-control-static"></span>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  