
<div class="headerComponent">
    <sd-header></sd-header>
</div>
<div class="sidebarComponent">
    <sd-sidebar></sd-sidebar>
</div>
<!-- <div class="mainComponent" [ngSwitch]="home_page">
    <div *ngSwitchCase = "'table-list'"><sd-table-list></sd-table-list></div>
    <div *ngSwitchCase = "'dashboard'"><sd-dashboard></sd-dashboard></div>
    
 </div> -->

 <div class="mainComponent" >
        <sd-table-list></sd-table-list>
        <div class="mt-5">
                <sd-dashboard></sd-dashboard>
        </div>
 </div>