<div class="container">
    <div class="col-md-11">
      <div class="card card-default">
        <div class="card-heading">
          <b> Change Password </b>
        </div>
        <div class="card-body">

          <form method="post" id="passwordForm">
            <div class="form-group">
              <input type="password" class="input-lg form-control" name="password1" id="password1"
                placeholder="New Password" autocomplete="off">
            </div>
            <div class="row">
              <div class="col-sm-6">
                  <i class="fa fa-times" aria-hidden="true"></i> 8 Characters Long<br>
                  <i class="fa fa-times" aria-hidden="true"></i> One Uppercase Letter
              </div>
              <div class="col-sm-6">
                  <i class="fa fa-times" aria-hidden="true"></i> One Lowercase
                Letter<br>
                <i class="fa fa-times" aria-hidden="true"></i> One Number
              </div>
            </div>
            <br>
            <div class="form-group">
              <input type="password" class="input-lg form-control" name="password2" id="password2"
                placeholder="Repeat Password" autocomplete="off">
            </div>
            <div class="row">
              <div class="col-sm-12">
                  <i class="fa fa-times" aria-hidden="true"></i> Passwords Match
              </div>
            </div>
            <br><br>
      
            <input type="submit" class="col-xs-6 btn btn-primary btn-load btn-md"
              data-loading-text="Changing Password.." value="Change Password">
          </form>


        </div>
      </div>
    </div>
  </div>