<form (ngSubmit)="onSubmit()" [formGroup]="opportunityForm">
  <div class="container-fluid">
    <div class="card mt-3">
      <div class="card-header pointer">
        <a
          data-toggle="collapse"
          href="#card-lead-information"
          aria-expanded="true"
          aria-controls="card-lead-information"
          (click)="visibleOne = !visibleOne"
        >
          <i class="fa fa-angle-right" *ngIf="visibleOne"></i>
          <i class="fa fa-angle-down" *ngIf="!visibleOne"></i>
          Lead Information
        </a>
      </div>
      <div class="card-body collapse show" id="card-lead-information">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Lead Owner</label>
              <div><b class="m-2">&nbsp;Manikandan Gunasekar</b></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>First Name</label>
              <input
                name="first_name__c"
                pattern="[a-zA-Z\sàèéìòù]+"
                type="text"
                class="form-control"
                id="first_name__c_lead"
                formControlName="first_name__c"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label><span class="red_star">*</span>Last Name</label>
              <input
                type="text"
                name="last_name__c"
                pattern="[a-zA-Z\sàèéìòù]+"
                id="last_name__c_lead"
                class="form-control"
                formControlName="last_name__c"
                required=""
                value=" {{ opportunity.last_name__c }}"
              />
              <div
                *ngIf="
                  submitted && opportunityForm.controls.last_name__c.errors
                "
                class="error"
              >
                <div
                  *ngIf="opportunityForm.controls.last_name__c.errors.required"
                >
                  <p class="error-box margin-top-0">
                    Last name is Required
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label><span class="red_star">*</span>Company</label>
              <input
                type="text"
                name="company__c"
                pattern="[a-zA-Z\sàèéìòù]+"
                id="company__c_lead"
                class="form-control"
                formControlName="company__c"
                required=""
                value=" {{ opportunity.company__c }}"
              />
              <div
                *ngIf="submitted && opportunityForm.controls.company__c.errors"
                class="error"
              >
                <div
                  *ngIf="opportunityForm.controls.company__c.errors.required"
                >
                  <p class="error-box margin-top-0">
                    Company is Required
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-6 col-md-6 col-sm-6"
            style="padding-bottom: 1px;"
            *ngIf="type == 'edit'"
          >
            <div class="form-group">
              <label>Lead Record Type</label>
              <input
                type="text"
                class="form-control"
                name="record_type_name__c"
                id="record_type_name__c_lead"
                formControlName="record_type_name__c_lead"
                value=" {{ opportunity.record_type_name__c_lead }}"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Selling Dealer</label>
              <input
                type="text"
                class="form-control"
                name="selling_dealer__c"
                id="selling_dealer__c_lead"
                formControlName="selling_dealer__c"
                value=" {{ opportunity.selling_dealer__c }}"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-6 col-md-6 col-sm-6"
            style="padding-bottom: 1px;"
            *ngIf="type == 'edit'"
          >
            <div class="form-group">
              <label>Source</label>
              <select
                class="selcet form-control"
                id="source__c_lead"
                name="source__c"
                formControlName="source__c"
                value=" {{ opportunity.source__c }}"
              >
                <option value="">-- SELECT --</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Phone</label>
              <input
                type="text"
                pattern="\d{1,15}"
                maxlength="10"
                name="phone__c"
                id="phone__c_lead"
                class="form-control"
                formControlName="phone__c"
                value=" {{ opportunity.phone__c }}"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label><span class="red_star">*</span>Lead Source</label>
              <select
                id="lead_source__c_lead"
                name="lead_source__c"
                class="selcet form-control"
                required=""
                formControlName="lead_source__c"
                value=" {{ opportunity.lead_source__c }}"
              >
                <option value="">-- SELECT --</option>
                <option value="Phone"> Phone </option>
                <option value="Walk-In"> Walk-In </option>
                <option value="Internet"> Internet</option>
              </select>
              <div
                *ngIf="
                  submitted && opportunityForm.controls.lead_source__c.errors
                "
                class="error"
              >
                <div
                  *ngIf="
                    opportunityForm.controls.lead_source__c.errors.required
                  "
                >
                  <p class="error-box margin-top-0">
                    Lead source is Required
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Mobile</label>
              <input
                type="text"
                pattern="\d{1,15}"
                maxlength="10"
                class="form-control"
                name="mobile__c_lead"
                id="mobile__c_lead"
                formControlName="mobile__c"
                value=" {{ opportunity.mobile__c }}"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label><span class="red_star">*</span>Lead Type</label>
              <select
                class="selcet form-control"
                id="lead_type__c_lead"
                name="lead_type__c"
                required=""
                formControlName="lead_type__c"
                value=" {{ opportunity.lead_type__c }}"
              >
                <option value="">-- SELECT --</option>
                <option
                  *ngIf="opportunityForm.value.lead_source__c == 'Internet'"
                  value="Gumtree"
                  >Gumtree</option
                >
                <option
                  *ngIf="opportunityForm.value.lead_source__c == 'Internet'"
                  value="Carsales"
                  >Carsales</option
                >
                <option
                  *ngIf="opportunityForm.value.lead_source__c == 'Internet'"
                  value="Facebook"
                  >Facebook</option
                >
                <option
                  *ngIf="opportunityForm.value.lead_source__c == 'Phone'"
                  value="Online"
                  >Online</option
                >
                <option
                  *ngIf="opportunityForm.value.lead_source__c == 'Phone'"
                  value="Radio"
                  >Radio</option
                >
                <option
                  *ngIf="opportunityForm.value.lead_source__c == 'Phone'"
                  value="Edm"
                  >Edm</option
                >
                <option
                  *ngIf="opportunityForm.value.lead_source__c == 'Walk-In'"
                  value="Online"
                  >Online</option
                >
                <option
                  *ngIf="opportunityForm.value.lead_source__c == 'Walk-In'"
                  value="Radio"
                  >Radio</option
                >
                <option
                  *ngIf="opportunityForm.value.lead_source__c == 'Walk-In'"
                  value="Edm"
                  >Edm</option
                >
              </select>
              <div
                *ngIf="
                  submitted && opportunityForm.controls.lead_type__c.errors
                "
                class="error"
              >
                <div
                  *ngIf="opportunityForm.controls.lead_type__c.errors.required"
                >
                  <p class="error-box margin-top-0">
                    Lead Type is Required
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Lead Status</label>
              <select
                id="lead_status__c__lead"
                name="lead_status__c"
                class="selcet form-control"
                formControlName="lead_status__c"
                value=" {{ opportunity.lead_status__c }}"
              >
                <option value="">-- SELECT --</option>
                <option value="New"> New </option>
                <option value="Working"> Working </option>
                <option value="Appointment"> Appointment </option>
                <option value="Test Drive"> Test Drive </option>
              </select>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Email</label>
              <input
                type="email"
                id="email__c_lead"
                name="email__c"
                class="form-control"
                formControlName="email__c"
                value=" {{ opportunity.email__c }}"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label><span class="red_star">*</span>Request Type</label>
              <select
                id="request_type__c_lead"
                name="request_type__c"
                class="selcet form-control"
                required=""
                formControlName="request_type__c"
                value=" {{ opportunity.request_type__c }}"
              >
                <option value="">-- SELECT --</option>
                <option value="Test Drive"> Test Drive </option>
                <option value="Digital Brochure Request">
                  Digital Brochure Request
                </option>
                <option value="Contact Us"> Contact Us </option>
                <option value="General Enquiry"> General Enquiry </option>
              </select>
              <div
                *ngIf="
                  submitted && opportunityForm.controls.request_type__c.errors
                "
                class="error"
              >
                <div
                  *ngIf="
                    opportunityForm.controls.request_type__c.errors.required
                  "
                >
                  <p class="error-box margin-top-0">
                    Request type is Required
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="type == 'edit'">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Stock Number</label>
              <input
                type="text"
                class="form-control"
                id="stock_number__c_lead"
                name="stock_number__c"
                formControlName="stock_number__c"
                value=" {{ opportunity.stock_number__c }}"
              />
            </div>
          </div>
        </div>

        <div class="row" *ngIf="type == 'edit'">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Introduction To Finance Manager</label>
              <br />
              <input
                type="checkbox"
                name="introduction_to_finance_manager__c"
                id="introduction_to_finance_manager__c_lead"
                data-parsley-multiple="introduction_to_finance_manager__c"
                value="f"
                formControlName="introduction_to_finance_manager__c"
                value=" {{ opportunity.introduction_to_finance_manager__c }}"
              />
            </div>
          </div>
        </div>

        <div class="row" *ngIf="type == 'edit'">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Stock Number</label>
              <input
                type="text"
                name="vehicle_stock__c"
                id="vehicle_stock__c_lead"
                class="form-control"
                formControlName="vehicle_stock__c"
                value=" {{ opportunity.vehicle_stock__c }}"
              />
            </div>
          </div>
        </div>

        <div class="row" *ngIf="type == 'edit'">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Comments From Stock</label>
              <textarea
                name="comments_from_stock_c__c"
                id="comments_from_stock_c__c_lead"
                class="form-control"
                cols="5"
                row="20"
                formControlName="comments_from_stock_c__c"
                value=" {{ opportunity.comments_from_stock_c__c }}"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-3" *ngIf="type == 'edit'">
      <div class="card-header pointer">
        <a
          data-toggle="collapse"
          href="#address-information"
          aria-expanded="false"
          aria-controls="address-information"
          (click)="visibleTwo = !visibleTwo"
        >
          <i class="fa fa-angle-right" *ngIf="visibleTwo"></i>
          <i class="fa fa-angle-down" *ngIf="!visibleTwo"></i>
          Address Information</a
        >
      </div>
      <div
        id="address-information"
        class="card-body collapse"
        aria-expanded="true"
      >
        <div class="row"></div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Address</label>
              <textarea class="form-control" cols="5" row="20"> </textarea>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Street</label>
              <textarea
                id="street__c_lead"
                name="street__c"
                class="form-control"
                cols="5"
                row="20"
                formControlName="street__c"
                value=" {{ opportunity.street__c }}"
              >
              </textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>City</label>
              <input
                id="city__c_lead"
                name="city__c"
                type="text"
                class="form-control"
                formControlName="city__c"
                value=" {{ opportunity.city__c }}"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>State/Province</label>
              <input
                id="state_province__c_lead"
                name="state_province__c"
                type="text"
                class="form-control"
                formControlName="state_province__c"
                value=" {{ opportunity.state_province__c }}"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Zip/PostalCode</label>
              <input
                id="zip_postal_code__c_lead"
                name="zip_postal_code__c"
                type="text"
                class="form-control"
                formControlName="zip_postal_code__c"
                value=" {{ opportunity.zip_postal_code__c }}"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Country</label>
              <input
                id="country__c_lead"
                name="country__c"
                type="text"
                class="form-control"
                formControlName="country__c"
                value=" {{ opportunity.country__c }}"
              />
            </div>
          </div>
        </div>
        <!--- end of row -->
      </div>
    </div>

    <div class="card mt-3" *ngIf="type == 'edit'">
      <div class="card-header pointer">
        <a
          data-toggle="collapse"
          href="#customer-insight"
          aria-expanded="false"
          aria-controls="customer-insight"
          (click)="visibleThree = !visibleThree"
        >
          <i class="fa fa-angle-right" *ngIf="visibleThree"></i>
          <i class="fa fa-angle-down" *ngIf="!visibleThree"></i>
          Customer Insight</a
        >
      </div>
      <div
        id="customer-insight"
        class="card-body collapse in"
        aria-expanded="true"
      >
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Previous Customer Name</label>
              <input
                type="text"
                id="previous_customer_name__c_lead"
                name="previous_customer_name__c"
                class="form-control"
                formControlName="previous_customer_name__c"
                value=" {{ opportunity.previous_customer_name__c }}"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Activity Score</label>
              <input
                id="activity_score__c_lead"
                name="activity_score__c"
                type="number"
                class="form-control"
                formControlName="activity_score__c_lead"
                value=" {{ opportunity.activity_score__c_lead }}"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Customer Data Completeness Score</label>
              <input
                id="customer_data_completeness_score__c_lead"
                name="customer_data_completeness_score__c"
                type="number"
                class="form-control"
                formControlName="customer_data_completeness_score__c"
                value=" {{ opportunity.customer_data_completeness_score__c }}"
              />
            </div>
          </div>
        </div>
        <!--- end of row -->
      </div>
    </div>

    <div class="card mt-3" *ngIf="type == 'edit'">
      <div class="card-header pointer">
        <a
          data-toggle="collapse"
          href="#addtional-information"
          (click)="visibleFour = !visibleFour"
        >
          <i class="fa fa-angle-right" *ngIf="visibleFour"></i>
          <i class="fa fa-angle-down" *ngIf="!visibleFour"></i>Additional
          Information
        </a>
      </div>
      <div
        id="addtional-information"
        class="card-body collapse in"
        aria-expanded="false"
      >
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Current Generator(s)</label>
              <input
                id="currentgenerators__c_lead"
                name="currentgenerators__c"
                type="text"
                class="form-control"
                formControlName="currentgenerators__c"
                value=" {{ opportunity.currentgenerators__c }}"
              />
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Primary</label>
              <select
                id="primary__c_lead"
                name="primary__c"
                class="form-control"
                formControlName="primary__c"
                value=" {{ opportunity.primary__c }}"
              >
                <option value="">-- SELECT --</option>
                <option value="Yes"> Yes </option>
                <option value="No"> No </option>
              </select>
            </div>
          </div>
        </div>
        <!--- end of row -->
      </div>
    </div>
    <div class="card mt-3 mb-3">
      <div class="card-header pointer">
        <a data-toggle="collapse" href="#system-information">
          <i class="fa fa-angle-right" *ngIf="visibleFive"></i>
          <i class="fa fa-angle-down" *ngIf="!visibleFive"></i>System
          Information</a
        >
      </div>
      <div
        id="system-information"
        class="collapse in card-body"
        aria-expanded="true"
      >
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Created by</label>
              <div id="createdby_lead">
                <b>{{ opportunity.createdbyid }}</b>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Last modified by</label>
              <div id="lastmodifiedby_lead">
                <b>{{ opportunity.lastmodifiedbyid }}</b>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Created Date</label>
              <div id="createddate_lead">
                <b>{{ opportunity.createddate }}</b>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Last modified date</label>
              <div id="lastmodifiedbyid_lead">
                {{ opportunity.lastmodifieddate }}
              </div>
            </div>
          </div>
        </div>
        <!--- end of row -->
      </div>
      <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            (click)="onCloseModal($event)"
          >
            Cancel
          </button>
          <button type="submit" class="btn btn-info" >Save</button>
        </div>
        
</form>
