<div class="container-fluid">
  <div class="col-md-12">
    <div class="btn-group btn-breadcrumb">
      <button href="#" color-index="0" class="color-btn btn btn-success">New
      </button><button href="#" color-index="1" class="color-btn btn showData workingID btn-success" sfid="702"
        type="workingModal" data-toggle="modal" data-target="#workingModal702">Working</button>
      <button href="#" color-index="2" class="color-btn btn showData workingID btn-success" type="appointmentModal"
        data-toggle="modal" data-target="#appointmentModal702">Appointment</button>
      <button href="#" color-index="3" class="color-btn btn showDataNon workingID btn-success" type="quotationModal"
        data-toggle="modal" data-target="#quotationModal702">Quotation</button>
      <button href="#" color-index="4" class="color-btn btn showData workingID btn-success" type="negotiationModal"
        data-toggle="modal" data-target="#negotiationModal702">Negotiation</button>
      <button href="#" color-index="5" class="color-btn btn showDataNon saveAllModal btn-info" typem="Finalize"
        sfid="702">Finalize</button>
      <button href="#" color-index="6" class="color-btn btn showData workingID btn-info" type="closedLostModal"
        data-toggle="modal" data-target="#closedLostModal702">Closed Lost</button>
      <button href="#" color-index="6" class="color-btn btn showData workingID btn-info" type="closedWonModal"
        data-toggle="modal" data-target="#closedWonModal702">Closed Won</button>
      <button href="#" color-index="7" class="color-btn btn showDataNon workingID btn-info" type="duplicateModal"
        data-toggle="modal" data-target="#duplicateModal702">Duplicate</button>
      <button href="#" color-index="8" class="color-btn btn showDataNon workingID btn-info" type="convertedModal"
        data-toggle="modal" data-target="#convertedModal702">Converted</button>
    </div>
    <br><br>

  </div>
</div>

<section>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <a (click)="visibleOne = !visibleOne">
              <i class="fa fa-angle-right" *ngIf="visibleOne"></i>
              <i class="fa fa-angle-down" *ngIf="!visibleOne"></i>
            <p> Customer Information</p>
          </a>
        </div>
        <div class="card-block" *ngIf="!visibleOne">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                 <label><b>Name : </b></label>
                 <span class="form-control-static"> {{ customer.name }}</span>
              </div>
              <div class="form-group">
                 <label><b>First Name :</b></label>
                 <span class="form-control-static"> {{ customer.first_name__c }}</span>
              </div>
              <div class="form-group">
                 <label><b>Last Name :</b></label>
                 <span class="form-control-static"> {{ customer.last_name__c }}</span>
              </div>	
              <div class="form-group">
                 <label><b>Business Email :</b></label>
                 <span class="form-control-static"> {{ customer.business_email__c }}</span>
              </div>							
  
           </div>
  
           <div class="col-sm-3">
            <div class="form-group">
               <label><b>Mobile :</b></label>
               <span class="form-control-static"> {{ customer.mobile__c }}</span>
            </div>
            <div class="form-group">
               <label><b>Phone :</b> </label>
               <span class="form-control-static"> {{ customer.phone }}</span>
            </div>
            <div class="form-group">
               <label><b>State :</b></label>
               <span class="form-control-static"> {{ customer.state__c }}</span>
            </div>

         </div>

         <div class="col-sm-3">
          <div class="form-group">
             <label><b>Billing postcode :</b></label>
             <span class="form-control-static"> {{ customer.billing_postcode__c }}</span>
          </div>
          <div class="form-group">
             <label><b>Billing state :</b></label>
             <span class="form-control-static"> {{ customer.billing_state__c }}</span>
          </div>
          <div class="form-group">
             <label><b>Account :</b></label>
             <span class="form-control-static"> {{ customer.account__c }}</span>
          </div>
          <div class="form-group">
             <label><b>Account Number :</b></label>
             <span class="form-control-static"> {{ customer.accountnumber }}</span>
          </div>						
       </div>

  
  
         </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header">
          <a (click)="visibleTwo = !visibleTwo">
              <i class="fa fa-angle-right" *ngIf="visibleTwo"></i>
              <i class="fa fa-angle-down" *ngIf="!visibleTwo"></i>
            <p> System Information</p>
          </a>
        </div>
        <div class="card-block" *ngIf="!visibleTwo">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label><b>Created by :</b></label>
                <span class="form-control-static" ></span>
             </div>
             <div class="form-group">
                <label><b>Created Date :</b></label>
                <span class="form-control-static"> 2019-04-12 07:22:00</span>
             </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label><b>Last modified by :</b></label>
                <span class="form-control-static"></span>
             </div>
             <div class="form-group">
                <label><b>Last modified date :</b></label>
                <span class="form-control-static"> </span>
             </div>
            </div>
          </div>
        </div>
      </div>



    
      
      
    </div>
  </div>
</section>
  