<sd-navigation-bar></sd-navigation-bar>


<section>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header pointer ">
          <a (click)="visibleOne = !visibleOne">
              <i class="fa fa-angle-right" *ngIf="visibleOne"></i>
              <i class="fa fa-angle-down" *ngIf="!visibleOne"></i>
            <p> Customer Information</p>
          </a>
        </div>
        <div class="card-block" *ngIf="!visibleOne">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                 <label><b>Name : </b></label>
                 <span class="form-control-static"> {{ customer.name }}</span>
              </div>
              <div class="form-group">
                 <label><b>First Name :</b></label>
                 <span class="form-control-static"> {{ customer.first_name__c }}</span>
              </div>
              <div class="form-group">
                 <label><b>Last Name :</b></label>
                 <span class="form-control-static"> {{ customer.last_name__c }}</span>
              </div>	
              <div class="form-group">
                 <label><b>Business Email :</b></label>
                 <span class="form-control-static"> {{ customer.business_email__c }}</span>
              </div>							
  
           </div>
  
           <div class="col-sm-3">
            <div class="form-group">
               <label><b>Mobile :</b></label>
               <span class="form-control-static"> {{ customer.mobile__c }}</span>
            </div>
            <div class="form-group">
               <label><b>Phone :</b> </label>
               <span class="form-control-static"> {{ customer.phone }}</span>
            </div>
            <div class="form-group">
               <label><b>State :</b></label>
               <span class="form-control-static"> {{ customer.state__c }}</span>
            </div>

         </div>

         <div class="col-sm-3">
          <div class="form-group">
             <label><b>Billing postcode :</b></label>
             <span class="form-control-static"> {{ customer.billing_postcode__c }}</span>
          </div>
          <div class="form-group">
             <label><b>Billing state :</b></label>
             <span class="form-control-static"> {{ customer.billing_state__c }}</span>
          </div>
          <div class="form-group">
             <label><b>Account :</b></label>
             <span class="form-control-static"> {{ customer.account__c }}</span>
          </div>
          <div class="form-group">
             <label><b>Account Number :</b></label>
             <span class="form-control-static"> {{ customer.accountnumber }}</span>
          </div>						
       </div>

  
  
         </div>
        </div>
      </div>


      <div class="card">
        <div class="card-header pointer">
          <a (click)="visibleTwo = !visibleTwo">
              <i class="fa fa-angle-right" *ngIf="visibleTwo"></i>
              <i class="fa fa-angle-down" *ngIf="!visibleTwo"></i>
            <p> System Information</p>
          </a>
        </div>
        <div class="card-block" *ngIf="!visibleTwo">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label><b>Created by :</b></label>
                <span class="form-control-static" ></span>
             </div>
             <div class="form-group">
                <label><b>Created Date :</b></label>
                <span class="form-control-static"> 2019-04-12 07:22:00</span>
             </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label><b>Last modified by :</b></label>
                <span class="form-control-static"></span>
             </div>
             <div class="form-group">
                <label><b>Last modified date :</b></label>
                <span class="form-control-static"> </span>
             </div>
            </div>
          </div>
        </div>
      </div>



    
      
      
    </div>
  </div>
</section>
  