<form (ngSubmit)="onSubmit()" [formGroup]="customerForm">
  <div class="container-fluid">
    <div class="card mt-3">
      <div class="card-header pointer">
        Customer Information
      </div>
      <div class="card-body collapse show" id="card-lead-information">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label><span class="red_star">*</span>First Name:</label>
              <input
                type="text"
                class="form-control"
                id="first_name__c"
                name="first_name__c"
                required=""
                formControlName="first_name__c"
              />
              <div
                *ngIf="submitted && customerForm.controls.first_name__c.errors"
                class="error"
              >
                <div
                  *ngIf="customerForm.controls.first_name__c.errors.required"
                >
                  <p class="error-box margin-top-0">
                    First name is Required
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label><span class="red_star">*</span>Last Name</label>
              <input
                type="text"
                class="form-control"
                id="last_name__c"
                name="last_name__c"
                required=""
                formControlName="last_name__c"
              />
              <div
                *ngIf="submitted && customerForm.controls.last_name__c.errors"
                class="error"
              >
                <div *ngIf="customerForm.controls.last_name__c.errors.required">
                  <p class="error-box margin-top-0">
                    Last name is Required
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Parent Account </label>
              <select
                class="selcet form-control"
                id="parent_account"
                name="parent_account"
                formControlName="parent_account"
              >
                <option value="{{ userData.dealer }}">{{
                  userData.dealer
                }}</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Account Number</label>
              <input
                type="text"
                name="accountnumber"
                id="accountnumber"
                class="form-control"
                formControlName="accountnumber"
              />
              <div
                *ngIf="submitted && customerForm.controls.accountnumber.errors"
                class="error"
              >
                <div
                  *ngIf="customerForm.controls.accountnumber.errors.required"
                >
                  <p class="error-box margin-top-0">
                    Account Number is Required
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label for="usr">Site</label>
              <input class="form-control" id="site" />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Account Record Type </label>
              <select
                class="selcet form-control"
                id="account_record"
                name="account_record"
                formControlName="account_record"
              >
                <option value="">-- SELECT --</option>
                <option
                  *ngIf="customer.account_record"
                  value="customer.account_record"
                  >{{ customer.account_record }}</option
                >
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Selling Dealer </label>
              <select
                class="selcet form-control"
                id="selling_dealer"
                name="selling_dealer"
                formControlName="selling_dealer"
              >
                <option value="{{ userData.dealer }}">{{
                  userData.dealer
                }}</option>
                <option
                  *ngIf="customer.selling_dealer__c"
                  value="{{ customer.selling_dealer__c }}"
                  >{{ customer.selling_dealer__c }}</option
                >
              </select>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Service Dealer Name</label>
              <select
                class="selcet form-control"
                name="service_dealer"
                id="service_dealer"
                formControlName="service_dealer"
              >
                <option value="">-- SELECT --</option>
                <option
                  *ngIf="customer.service_dealer"
                  value="{{ customer.service_dealer }}"
                  >{{ customer.service_dealer }}</option
                >
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Customer Type </label>
              <select
                class="selcet form-control"
                id="customer_type"
                name="customer_type"
                formControlName="customer_type"
              >
                <option value="">-- SELECT --</option>
                <option
                  *ngIf="customer.customer_type"
                  value="{{ customer.customer_type }}"
                  >{{ customer.customer_type }}</option
                >
              </select>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label for="Make">Do Not Contact</label><br />
              <input
                type="radio"
                value="f"
                [checked]="!customer.do_not_contact__c"
                name="do_not_contact__c"
                formControlName="do_not_contact__c"
              />
              no
              <input
                type="radio"
                value="t"
                name="do_not_contact__c"
                [checked]="customer.do_not_contact__c"
                formControlName="do_not_contact__c"
              />
              yes
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>FAX</label>
              <input
                type="text"
                name="fax"
                id="fax"
                class="form-control"
                formControlName="fax"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Business Phone</label>
              <input
                type="text"
                class="form-control"
                name="phone1__c"
                id="phone1__c"
                formControlName="phone1__c"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Business Email:</label>
              <input
                type="email"
                name="business_email__c"
                id="business_email__c"
                class="form-control"
                formControlName="business_email__c"
              />
              <div
                *ngIf="
                  submitted && customerForm.controls.business_email__c.errors
                "
                class="error"
              >
                <div
                  *ngIf="
                    customerForm.controls.business_email__c.errors.required
                  "
                >
                  <p class="error-box margin-top-0">
                    Email is Required
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Business Phone Service Type</label>
              <input
                type="text"
                class="form-control"
                name="phone1_service_type__c"
                id="phone1_service_type__c"
                formControlName="phone1_service_type__c"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label for="usr">Business Email Valid</label><br />
              <input type="radio" value="f" />
              no
              <input type="radio" value="t" />
              yes
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label for="usr">Business Phone Valid</label><br />
              <input
                type="radio"
                value="f"
                name="phone1_valid__c"
                [checked]="!customer.phone1_valid__c"
                formControlName="phone1_valid__c"
              />
              no
              <input
                type="radio"
                value="t"
                name="phone1_valid__c"
                [checked]="customer.phone1_valid__c"
                formControlName="phone1_valid__c"
              />
              yes
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Home Email</label>
              <input
                type="email"
                class="form-control"
                name="email"
                formControlName="email"
              />
              <div
                *ngIf="submitted && customerForm.controls.email.errors"
                class="error"
              >
                <div *ngIf="customerForm.controls.email.errors.required">
                  <p class="error-box margin-top-0">
                    Email is Required
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label for="usr">Home Phone</label>
              <input
                type="text"
                name="phone2__c"
                class="form-control"
                id="phone2__c"
                formControlName="phone2__c"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label for="usr">Home Phone Service Type</label>
              <input
                type="text"
                name="phone2_service_type__c"
                id="phone2_service_type__c"
                class="form-control"
                formControlName="phone2_service_type__c"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label for="usr">Home Phone Valid</label><br />
              <input
                type="radio"
                name="phone2_valid__c"
                value="f"
                [checked]="!customer.phone2_valid__c"
                formControlName="phone2_valid__c"
              />
              no
              <input
                type="radio"
                name="phone2_valid__c"
                value="t"
                [checked]="customer.phone2_valid__c"
                formControlName="phone2_valid__c"
              />
              yes
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label for="usr">Website:</label>
              <input
                type="text"
                class="form-control"
                id="web_site"
                name="web_site"
                formControlName="web_site"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Phone:</label>
              <input
                type="number"
                name="phone"
                class="form-control"
                formControlName="phone"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-header pointer">
        <a (click)="visibleOne = !visibleOne">
          <i class="fa fa-angle-right" *ngIf="visibleOne"></i>
          <i class="fa fa-angle-down" *ngIf="!visibleOne"></i>
          Address Information</a
        >
      </div>
      <div id="address-information" class="card-body" *ngIf="!visibleOne">
        <div class="row"></div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Billing Address</label>
              <textarea
                id="billing_address"
                name="billing_address"
                class="form-control"
                cols="2"
                row="20"
                formControlName="billing_address"
              >
              </textarea>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Billing Suburb</label>
              <input
                id="billing_subrub"
                name="billing_subrub"
                class="form-control"
                formControlName="billing_subrub"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label for="usr">Billing State</label>
              <input
                type="text"
                id="billing_state__c"
                name="billing_state__c"
                class="form-control"
                formControlName="billing_state__c"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Billing Postcode</label>
              <input
                type="text"
                id="billing_postcode__c"
                name="billing_postcode__c"
                maxlength="4"
                class="form-control"
                formControlName="billing_postcode__c"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label for="usr">Billing Country</label>
              <input
                type="text"
                id="billing_country"
                name="billing_country"
                class="form-control"
                formControlName="billing_country"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Billing DPID</label>
              <input
                type="text"
                id="billing_dpid"
                name="billing_dpid"
                class="form-control"
                formControlName="billing_dpid"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label for="usr">Billing Latitute</label>
              <input
                type="text"
                name="billing_lat"
                id="billing_lat"
                class="form-control"
                formControlName="billing_lat"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Billing Longitute</label>
              <input
                type="text"
                name="billing_lng"
                id="billing_lng"
                class="form-control"
                formControlName="billing_lng"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label for="usr">Physical Address</label>
              <input
                type="text"
                id="physical_address__c"
                name="physical_address__c"
                class="form-control"
                formControlName="physical_address__c"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Physical Suburb</label>
              <input type="text" id="physical_subrub" class="form-control" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label for="usr">Physical State</label>
              <input
                type="text"
                id="physical_state__c"
                name="physical_state__c"
                class="form-control"
                formControlName="physical_state__c"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Physical Postcode</label>
              <input
                type="text"
                id="physical_post_code__c"
                name="physical_post_code__c"
                maxlength="4"
                class="form-control"
                formControlName="physical_post_code__c"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label for="usr">Physical Country</label>
              <input
                type="text"
                id="physical_country__c"
                name="physical_country__c"
                class="form-control"
                formControlName="physical_country__c"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Physical DPID</label>
              <input
                type="text"
                id="physicaldpid__c"
                name="physicaldpid__c"
                class="form-control"
                formControlName="physicaldpid__c"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label for="usr">Physical Latitute</label>
              <input
                type="text"
                id="physical_latitude__c"
                name="physical_latitude__c"
                class="form-control"
                formControlName="physical_latitude__c"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Physical Longitute</label>
              <input
                type="text"
                id="physical_longitude__c"
                name="physical_longitude__c"
                class="form-control"
                formControlName="physical_longitude__c"
              />
            </div>
          </div>
        </div>
        <!--- end of row -->
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-header pointer">
        <a (click)="visibleTwo = !visibleTwo">
          <i class="fa fa-angle-right" *ngIf="visibleTwo"></i>
          <i class="fa fa-angle-down" *ngIf="!visibleTwo"></i>

          Additional Information
        </a>
      </div>
      <div id="addtional-information" class="card-body" *ngIf="!visibleTwo">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label for="usr">SLA:</label>
              <input
                type="text"
                id="license_number__c"
                name="license_number__c"
                class="form-control"
                formControlName="license_number__c"
              />
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>SLA Expiration Date:</label>
              <input
                type="text"
                id="license_expiry_date__c"
                name="license_expiry_date__c"
                class="form-control"
                formControlName="license_expiry_date__c"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label for="usr">Number Of Locations:</label>
              <input
                type="number"
                id="numberoflocations__c"
                name="numberoflocations__c"
                min="1"
                value="0"
                class="form-control"
                formControlName="numberoflocations__c"
              />
            </div>
          </div>
        </div>

        <!--- end of row -->
      </div>
    </div>
    <div class="card mt-3 mb-3">
      <div class="card-header pointer">
        <a (click)="visibleThree = !visibleThree">
          <i class="fa fa-angle-right" *ngIf="visibleThree"></i>
          <i class="fa fa-angle-down" *ngIf="!visibleThree"></i>
          System Information</a
        >
      </div>
      <div id="system-information" class="card-body" *ngIf="!visibleThree">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Created by</label>
              <div id="createdby_lead">
                <b>{{ customer.createdbyid }} </b>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Last modified by</label>
              <div id="lastmodifiedby_lead">
                {{ customer.lastmodifiedbyid }}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Created Date</label>
              <div id="createddate_lead">{{ customer.createddate }}</div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 1px;">
            <div class="form-group">
              <label>Last modified date</label>
              <div id="lastmodifiedbyid_lead">
                {{ customer.lastmodifieddate }}
              </div>
            </div>
          </div>
        </div>
        <!--- end of row -->
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-default"
      data-dismiss="modal"
      (click)="onCloseModal($event)"
    >
      Cancel
    </button>
    <button type="submit" class="btn btn-info">Save</button>
  </div>
</form>
