@font-face {
  font-family: "Glyphicons Halflings";

  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"),
    url("../fonts/glyphicons-halflings-regular.woff") format("woff"),
    url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"),
    url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular")
      format("svg");
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.table tr:hover {
  background-color: #f5f5f5 !important;
}
.table>tbody>tr:hover {
  background-color: #f5f5f5 !important;
}
.fas {
  color: #0747a6;
  font-size: 15px;
  margin: 0 12px;
}
.fa-sort-amount-down {
  color: grey;
}
table.dataTable thead .sorting:after {
  opacity: 0.2;
  content: "\e150";
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: block;
  font-family: "Glyphicons Halflings";
  opacity: 0.5;
}
table thead th .glyphicon-sort {
  vertical-align: bottom;
  border-bottom: none;
}
.table td .glyphicon-sort,
.table th glyphicon-sort {
  padding: 0.75rem;
  vertical-align: top;
  border-top: none;
}
.sorting {
  color: #ddd;
}

.glyphicon-sort {
  color: #dadada;
  font-size: 14px;
  margin: 0 5px 5px 0px;
}
.glyphicon-sort-by-attributes {
  color: #dadada;
  font-size: 14px;
  margin: 0 5px 5px 0px;
}

.table thead th {
  vertical-align: bottom;
  color: #333340;
  font-size: 14px;
  border-bottom: 3px solid #dee2e6;
}

input[type="checkbox"] {
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 12px;
  outline: none;
  padding: 8px;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  border-radius: 0.25rem;
}
.card-body {
  padding: 0;
}
.table td,
.table th {
  padding: 8px 8px;
  vertical-align: top;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
}
.pane[_ngcontent-c6] {
  padding: 2% 0px;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #0f0f10;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.page-link :active {
  color: #fff;
  background-color: #0f0f10;
}
.page-link:hover {
  color: #fff !important;
  background-color: #0f0f10;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #191b1c;
  border: none;
}
.w-auto {
  width: auto !important;
  margin: 0px 12px;
  height: 27px;
  font-size: 12px;
}

.modal.full-size .modal-body {
  overflow: auto;
  height: calc(100vh - 200px);
}

.modal.full-size .modal-dialog {
  width: calc(100vw - 100px);
  max-width: 800px;
}
.form-list{
    display: block;
    width: 200px;
    border: none;
    height: calc(1.5em + .75rem + 2px);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    background: #dddddd;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.tooltip {
  position: relative;
  display: inline-block;
  z-index: 1050 !important;
  opacity: inherit;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 170px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0px;
    font-size: 12px !important;
    position: absolute;
    line-height: 24px;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -85px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.pointer {cursor: pointer;}
.not-allowed {cursor: not-allowed;}

.module_logo{
  width: 20px;
  margin: -5px 5px 0 15px;
}
.module_logo_book{
  width: 14px;
  margin: -5px 5px 0 15px;
}
.dataTables_info{
  font-size: 14px;
  letter-spacing: 0.5px;
}