<sd-tabs>
  <sd-tab>
    <div class="main-content" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                          <input type="checkbox" id="blahA" value="1"/>
                      </th>
                      <th>
                        ID
                      </th>
                      <th>
                        <a href="#">
                          <span class="glyphicon glyphicon-sort-by-attributes"></span>
                        </a> Name
                      </th>
                      <th> <a href="#">
                          <span class="glyphicon glyphicon-sort"></span>
                        </a>
                        Company
                      </th>
                      <th> <a href="#">
                          <span class="glyphicon glyphicon-sort"></span>
                        </a>
                        phone
                      </th>
                      <th> <a href="#">
                          <span class="glyphicon glyphicon-sort"></span>
                        </a>
                        EMail
                      </th>
                      <th> <a href="#">
                          <span class="glyphicon glyphicon-sort"></span>
                        </a>
                        LeadOwner
                      </th>
                      <th> <a href="#" >
                          <span class="glyphicon glyphicon-sort"></span>
                        </a>
                        Edit
                      </th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let opportunity of opportunityList">
                        <td>
                            <input type="checkbox" id="blahA" value="1"/>
                        </td>
                        <td>
                          {{opportunity.id}}
                        </td>
                        <td>
                            <a href="#" (click)="viewPersondetails(opportunity)">{{opportunity.name}}</a>
                        </td>
                        <td>
                            {{opportunity.company}}
                        </td>
                        <td>
                            {{opportunity.phone}}
                        </td>
                        <td>
                            {{opportunity.email}}
                        </td>
                        <td>
                            {{opportunity.leadowner}}
                        </td>
                        <td>
                          <span class="fas fa-edit" (click)="onOpenAbout()"></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </sd-tab>
</sd-tabs>
<ng-template #personDetails>
  <sd-userdetails ></sd-userdetails>
</ng-template>


