@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fas{
    color: #0747A6;
    font-size: 15px;
    margin: 0 12px;
}
.fa-sort-amount-down{
color: grey;
}
table.dataTable thead .sorting:after {
  opacity: 0.2;
  content: "\e150";
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: block;
  font-family: 'Glyphicons Halflings';
  opacity: 0.5;
  
}
table thead th .glyphicon-sort {
  vertical-align: bottom; 
   border-bottom:none;
}
.table td .glyphicon-sort, .table th glyphicon-sort {
  padding: .75rem;
  vertical-align: top;
  border-top: none;
}
.sorting{
  color:#ddd;
}

.glyphicon-sort{
  color: #dadada;
  font-size: 14px;
  margin: 0 5px 5px 0px;
}
.glyphicon-sort-by-attributes{
  color: #dadada;
  font-size: 14px;
  margin: 0 5px 5px 0px;
}

.table thead th {
  vertical-align: bottom;
  color: #333340;
  font-size: 14px;
  border-bottom: 2px solid #dee2e6;
}


input[type=checkbox]{
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 12px;
  outline: none;
  padding: 8px;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: none;
  border-radius: .25rem;
}
.card-body {
  padding: 0;
}
.table td, .table th {
  padding: 8px 8px;
  vertical-align: top;
  font-size: 14px;
  border-top: 1px solid #dee2e6;
}
.pane[_ngcontent-c6] {
  padding: 2% 0px;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #0f0f10;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.page-link :active {
 color: #fff;
 background-color: #0f0f10;
}
.page-link:hover {
  color: #fff !important;
  background-color: #0f0f10;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #191b1c;
}
.w-auto {
  width: auto!important;
  margin: 0px 12px;
  height: 27px;
  font-size: 12px;
}