
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                      <input type="checkbox" id="blahA" value="1"/>
                  </th>
                  <th>
                    ID
                  </th>
                  <th>
                    <a href="#">
                      <span class="glyphicon glyphicon-sort-by-attributes"></span>
                    </a> Name
                  </th>
                  <th> <a href="#">
                      <span class="glyphicon glyphicon-sort"></span>
                    </a>
                    Company
                  </th>
                  <th> <a href="#">
                      <span class="glyphicon glyphicon-sort"></span>
                    </a>
                    phone
                  </th>
                  <th> <a href="#">
                      <span class="glyphicon glyphicon-sort"></span>
                    </a>
                    EMail
                  </th>
                  <th> <a href="#">
                      <span class="glyphicon glyphicon-sort"></span>
                    </a>
                    LeadOwner
                  </th>
                  <th> <a href="#">
                      <span class="glyphicon glyphicon-sort"></span>
                    </a>
                    Edit
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                        <input type="checkbox" id="blahA" value="1"/>
                    </td>
                    <td>
                      1
                    </td>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      547648478
                    </td>
                    <td>
                      mukeshkumarsmk45@gmail.com
                    </td>
                    <td>
                      Manikandan old
                    </td>
                    <td>
                      <span class="glyphicon glyphicon-edit"></span>
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <input type="checkbox" id="blahA" value="1"/>
                      </td>
                    <td>
                      1
                    </td>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      87645675765
                    </td>
                    <td>
                      mukeshkumarsmk45@gmail.com
                    </td>
                    <td>
                      Manikandan old
                    </td>
                    <td>
                      <span class="glyphicon glyphicon-edit"></span>
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <input type="checkbox" id="blahA" value="1"/>
                      </td>
                    <td>
                      1
                    </td>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      2565476868567
                    </td>
                    <td>
                      mukeshkumarsmk45@gmail.com
                    </td>
                    <td>
                      Manikandan old
                    </td>
                    <td>
                      <span class="glyphicon glyphicon-edit"></span>
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <input type="checkbox" id="blahA" value="1"/>
                      </td>
                    <td>
                      1
                    </td>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      87967967967
                    </td>
                    <td>
                      mukeshkumarsmk45@gmail.com
                    </td>
                    <td>
                      Manikandan old
                    </td>
                    <td>
                      <span class="glyphicon glyphicon-edit"></span>
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <input type="checkbox" id="blahA" value="1"/>
                      </td>
                    <td>
                      1
                    </td>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      567457484
                    </td>
                    <td>
                      mukeshkumarsmk45@gmail.com
                    </td>
                    <td>
                      Manikandan old
                    </td>
                    <td>
                      <span class="glyphicon glyphicon-edit"></span>
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <input type="checkbox" id="blahA" value="1"/>
                      </td>
                    <td>
                      1
                    </td>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      769868796789
                    </td>
                    <td>
                      mukeshkumarsmk45@gmail.com
                    </td>
                    <td>
                      Manikandan old
                    </td>
                    <td>
                      <span class="glyphicon glyphicon-edit"></span>
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <input type="checkbox" id="blahA" value="1"/>
                      </td>
                    <td>
                      1
                    </td>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      567457484
                    </td>
                    <td>
                      mukeshkumarsmk45@gmail.com
                    </td>
                    <td>
                      Manikandan old
                    </td>
                    <td>
                      <span class="glyphicon glyphicon-edit"></span>
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <input type="checkbox" id="blahA" value="1"/>
                      </td>
                    <td>
                      1
                    </td>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      567457484
                    </td>
                    <td>
                      mukeshkumarsmk45@gmail.com
                    </td>
                    <td>
                      Manikandan old
                    </td>
                    <td>
                      <span class="glyphicon glyphicon-edit"></span>
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <input type="checkbox" id="blahA" value="1"/>
                      </td>
                    <td>
                      1
                    </td>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      567457484
                    </td>
                    <td>
                      mukeshkumarsmk45@gmail.com
                    </td>
                    <td>
                      Manikandan old
                    </td>
                    <td>
                      <span class="glyphicon glyphicon-edit"></span>
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <input type="checkbox" id="blahA" value="1"/>
                      </td>
                    <td>
                      1
                    </td>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      567457484
                    </td>
                    <td>
                      mukeshkumarsmk45@gmail.com
                    </td>
                    <td>
                      Manikandan old
                    </td>
                    <td>
                      <span class="glyphicon glyphicon-edit"></span>
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <input type="checkbox" id="blahA" value="1"/>
                      </td>
                    <td>
                      1
                    </td>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      567457484
                    </td>
                    <td>
                      mukeshkumarsmk45@gmail.com
                    </td>
                    <td>
                      Manikandan old
                    </td>
                    <td>
                      <span class="glyphicon glyphicon-edit"></span>
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <input type="checkbox" id="blahA" value="1"/>
                      </td>
                    <td>
                      1
                    </td>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      567457484
                    </td>
                    <td>
                      mukeshkumarsmk45@gmail.com
                    </td>
                    <td>
                      Manikandan old
                    </td>
                    <td>
                      <span class="glyphicon glyphicon-edit"></span>
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <input type="checkbox" id="blahA" value="1"/>
                      </td>
                    <td>
                      1
                    </td>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      567457484
                    </td>
                    <td>
                      mukeshkumarsmk45@gmail.com
                    </td>
                    <td>
                      Manikandan old
                    </td>
                    <td>
                      <span class="glyphicon glyphicon-edit"></span>
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <input type="checkbox" id="blahA" value="1"/>
                      </td>
                    <td>
                      1
                    </td>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      567457484
                    </td>
                    <td>
                      mukeshkumarsmk45@gmail.com
                    </td>
                    <td>
                      Manikandan old
                    </td>
                    <td>
                      <span class="glyphicon glyphicon-edit"></span>
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <input type="checkbox" id="blahA" value="1"/>
                      </td>
                    <td>
                      1
                    </td>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      567457484
                    </td>
                    <td>
                      mukeshkumarsmk45@gmail.com
                    </td>
                    <td>
                      Manikandan old
                    </td>
                    <td>
                      <span class="glyphicon glyphicon-edit"></span>
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <input type="checkbox" id="blahA" value="1"/>
                      </td>
                    <td>
                      1
                    </td>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      567457484
                    </td>
                    <td>
                      mukeshkumarsmk45@gmail.com
                    </td>
                    <td>
                      Manikandan old
                    </td>
                    <td>
                      <span class="glyphicon glyphicon-edit"></span>
                    </td>
                  </tr>
                  <tr>
                      <td>
                          <input type="checkbox" id="blahA" value="1"/>
                      </td>
                    <td>
                      1
                    </td>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      567457484
                    </td>
                    <td>
                      mukeshkumarsmk45@gmail.com
                    </td>
                    <td>
                      Manikandan old
                    </td>
                    <td>
                      <span class="glyphicon glyphicon-edit"></span>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>