.card-default {
  border-color: #ddd;
}
.card {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.card-default > .card-heading {
  border: 1px solid #efefef;
  background-color: #f9f9f9;
  color: #333;
}
.card-heading {
  cursor: pointer;
}
.card-heading {
  padding: 6px 15px;
}
.card-body {
  padding: 15px;
}
b,
strong {
  font-weight: 700;
}
.form-group {
  margin-bottom: 5px;
}
.fa-times,
.fa-check {
  color: #0747a6 !important;
}
.form-control {
  padding-right: 30px;
}
.form-control {
  width: 80%;
  font-size: 12px;
  height: 28px;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
  text-decoration: none;
}
.col-xs-6 {
  width: 50%;
  margin: 0px 24%;
}
