<sd-navigation-bar [details]="opportunity"></sd-navigation-bar>

<section>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header pointer">
          <a (click)="visibleOne = !visibleOne">
            <i class="fa fa-angle-right" *ngIf="visibleOne"></i>
            <i class="fa fa-angle-down" *ngIf="!visibleOne"></i>
            <p>Lead Information</p>
          </a>
        </div>
        <div class="card-block" *ngIf="!visibleOne">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label><b>First Name :</b></label>
                <span data-toggle="tooltip" title="" data-original-title="xxxx"
                  ><span
                    pattern="[a-zA-Z\sàèéìòù]+"
                    name="first_name__c"
                    dropname="text"
                    type="text"
                    inlinetext="xxxx"
                    class=" form-control-static inlineEditEnb"
                  >
                    {{ opportunity.first_name__c }}</span
                  ></span
                >
              </div>
              <div class="form-group">
                <label><b>Email :</b></label>
                <span
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  name="email__c"
                  dropname="email"
                  type="email"
                  inlinetext="xxxx@gmail.com"
                  class=" form-control-static inlineEditEnb"
                >
                  {{ opportunity.email__c }}</span
                >
              </div>
              <div class="form-group">
                <label><b>Mobile :</b></label>
                <span
                  pattern="\d{1,15}"
                  name="mobile__c"
                  dropname="text"
                  type="text"
                  inlinetext="0123456789"
                  class=" form-control-static inlineEditEnb"
                >
                  {{ opportunity.mobile__c }}</span
                >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <strong>Last Name :</strong>
                <span
                  pattern="[a-zA-Z\sàèéìòù]+"
                  name="last_name__c"
                  dropname="text"
                  type="text"
                  inlinetext="R"
                  class=" form-control-static inlineEditEnb"
                >
                  {{ opportunity.last_name__c }}</span
                >
              </div>
              <div class="form-group">
                <label><b>Company :</b></label>
                <span
                  pattern="[a-zA-Z\sàèéìòù]+"
                  name="company__c"
                  dropname="text"
                  type="text"
                  inlinetext="test"
                  class=" form-control-static inlineEditEnb"
                >
                  {{ opportunity.company__c }}</span
                >
              </div>
              <div class="form-group">
                <label><b>Phone : </b></label>
                <span
                  name="phone__c"
                  dropname="text"
                  type="text"
                  inlinetext="0123456789"
                  class=" form-control-static inlineEditEnb"
                >
                  {{ opportunity.phone__c }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header pointer">
          <a (click)="visibleTwo = !visibleTwo">
            <i class="fa fa-angle-right" *ngIf="visibleTwo"></i>
            <i class="fa fa-angle-down" *ngIf="!visibleTwo"></i>
            <p>Lead Details</p>
          </a>
        </div>
        <div class="card-block" *ngIf="!visibleTwo">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <strong>Request Type : </strong>
                <span
                  name="request_type__c"
                  dropname="Request_Type__c"
                  type="Request_Type__c"
                  inlinetext="Digital Brochure Request"
                  class=" form-control-static inlineEditSelect"
                >
                  {{ opportunity.request_type__c }}</span
                >
              </div>
              <div class="form-group">
                <label><b>Lead type : </b></label>
                <span
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  name="email__c"
                  dropname="email"
                  type="email"
                  inlinetext="xxxx@gmail.com"
                  class=" form-control-static inlineEditEnb"
                >
                  {{ opportunity.email__c }}</span
                >
              </div>
              <div class="form-group">
                <label><b>Lead Source :</b></label>
                <span
                  name="lead_source__c"
                  dropname="lead_source__c"
                  type="lead_source__c"
                  inlinetext=""
                  class=" form-control-static inlineEditSelect"
                >
                  {{ opportunity.lead_source__c }}</span
                >
              </div>
              <div class="form-group">
                <label><b>Introduction to Finance Manager :</b></label>
                <!-- <input type="checkbox" name="edit_financemanager" id="edit_financemanager" value="1" disabled=""> -->
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <strong>Selling Dealer :</strong>
                <span
                  name="selling_dealer__c"
                  dropname="text"
                  type="text"
                  inlinetext="ABC Berkeley Toyota"
                  class=" form-control-static noEdit"
                >
                  {{ opportunity.selling_dealer__c }}</span
                >
              </div>
              <div class="form-group">
                <label><b>Stock No : </b></label>
                <span
                  name="stock_number__c"
                  dropname="text"
                  type="text"
                  inlinetext=""
                  class=" form-control-static inlineEditEnb"
                >
                  {{ opportunity.stock_number__c }}</span
                >
              </div>
              <div class="form-group">
                <label><b>Lead Status :</b></label>
                <span
                  name="lead_status__c"
                  dropname="lead_status__c"
                  type="lead_status__c"
                  inlinetext=""
                  class=" form-control-static inlineEditSelect"
                >
                  {{ opportunity.lead_status__c }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header pointer">
          <a (click)="visibleThree = !visibleThree">
            <i class="fa fa-angle-right" *ngIf="visibleThree"></i>
            <i class="fa fa-angle-down" *ngIf="!visibleThree"></i>
            <p>Address Details</p>
          </a>
        </div>
        <div class="card-block" *ngIf="!visibleThree">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label><b>Street :</b></label>
                <span
                  name="street__c"
                  dropname="text"
                  type="text"
                  inlinetext=""
                  class=" form-control-static inlineEditEnb"
                >
                  {{ opportunity.street__c }}</span
                >
              </div>
              <div class="form-group">
                <label><b>City : </b></label>
                <span
                  name="city__c"
                  dropname="text"
                  type="text"
                  inlinetext=""
                  class=" form-control-static inlineEditEnb"
                  >{{ opportunity.city__c }}</span
                >
              </div>
              <div class="form-group">
                <label><b>State/Province :</b></label>
                <span
                  name="state_province__c"
                  dropname="text"
                  type="text"
                  inlinetext=""
                  class=" form-control-static inlineEditEnb"
                >
                  {{ opportunity.lead_source__c }}</span
                >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label><b>State/Province :</b></label>
                <span
                  name="state_province__c"
                  dropname="text"
                  type="text"
                  inlinetext=""
                  class=" form-control-static inlineEditEnb"
                >
                  {{ opportunity.state_province__c }}</span
                >
              </div>
              <div class="form-group">
                <label><b>Zip/PostalCode :</b></label>
                <span
                  name="zip_postal_code__c"
                  dropname="text"
                  type="text"
                  inlinetext="560099"
                  class=" form-control-static inlineEditEnb"
                >
                  {{ opportunity.zip_postal_code__c }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header pointer">
          <a (click)="visibleFour = !visibleFour">
            <i class="fa fa-angle-right" *ngIf="visibleFour"></i>
            <i class="fa fa-angle-down" *ngIf="!visibleFour"></i>
            <p>Customer Insight</p>
          </a>
        </div>
        <div class="card-block" *ngIf="!visibleFour">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label><b>Previous Customer Name :</b></label>
                <span
                  name="previous_customer_name__c"
                  dropname="text"
                  type="text"
                  inlinetext="0037F00001MT9zFQAT"
                  class=" form-control-static inlineEditEnb"
                >
                  {{ opportunity.previous_customer_name__c }}</span
                >
              </div>
            </div>
            <div class="form-group">
              <label> <b>Customer Data Completeness Score :</b></label>
              <span
                name="customer_data_completeness_score__c"
                dropname="text"
                type="text"
                inlinetext="70"
                class=" form-control-static inlineEditEnb"
              >
                {{ opportunity.customer_data_completeness_score__c }}</span
              >
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label><b>Activity Score :</b></label>
                <span
                  name="activity_score__c"
                  dropname="text"
                  type="text"
                  inlinetext="2"
                  class=" form-control-static inlineEditEnb"
                >
                  {{ opportunity.activity_score__c }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header pointer">
          <a (click)="visibleSix = !visibleSix">
            <i class="fa fa-angle-right" *ngIf="visibleSix"></i>
            <i class="fa fa-angle-down" *ngIf="!visibleSix"></i>
            <p>Additional Information</p>
          </a>
        </div>
        <div class="card-block" *ngIf="!visibleSix">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label><b>Primary :</b></label>
                <span
                  name="primary__c"
                  dropname="primary__c"
                  type="primary__c"
                  inlinetext=""
                  class=" form-control-static inlineEditSelect"
                >
                  {{ opportunity.primary__c }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header pointer">
          <a (click)="visibleSeven = !visibleSeven">
            <i class="fa fa-angle-right" *ngIf="visibleSeven"></i>
            <i class="fa fa-angle-down" *ngIf="!visibleSeven"></i>
            <p>System Information</p>
          </a>
        </div>
        <div class="card-block" *ngIf="!visibleSeven">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label><b>Created by :</b></label>
                <span class="form-control-static "> {{ opportunity.createdbyid }}</span>
              </div>
              <div class="form-group">
                <label><b>Last modified by :</b></label>
                <span class="form-control-static "> {{ opportunity.lastmodifiedbyid }}</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label><b>Created Date :</b></label>
                <span class="form-control-static "> {{ opportunity.createddate }}</span>
              </div>
              <div class="form-group">
                <label><b>Last modified date :</b></label>
                <span class="form-control-static "> {{ opportunity.lastmodifieddate }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <sd-activities [opportunity]="opportunity"></sd-activities>
    </div>
  </div>
</section>
