<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <div class="small-box">
          <div class="inner text-xs font-weight-bold text-primary text-uppercase mb-1">
             <h3>45</h3>
             <p>OPPORTUNITY</p>
          </div>
       </div>
    </div>
    <div class="col-sm-3">
      <div class="small-box">
          <div class="inner text-xs font-weight-bold text-primary text-uppercase mb-1">
             <h3>56</h3>
             <p>TASKS</p>
          </div>
       </div>
    </div>
    <div class="col-sm-3">
      <div class="small-box">
          <div class="inner text-xs font-weight-bold text-primary text-uppercase mb-1">
             <h3>32</h3>
             <p>WORKING</p>
          </div>
       </div>
    </div>
    <div class="col-sm-3">
      <div class="small-box">
          <div class="inner text-xs font-weight-bold text-primary text-uppercase mb-1">
             <h3>10</h3>
             <p>EVENT</p>
          </div>
       </div>
    </div>
  </div>
</div>

