<div id="wrapper" class="toggled">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <div [ngSwitch]="role">
      <ng-template [ngSwitchCase]="1">
        <ul class="sidebar-nav">
          <li>
            <a
              href="#dashboard"
              (click)="godashboard($event)"
              class="tooltip pointer"
            >
              <i class="fa fa-tachometer"></i>
              <span class="tooltiptext side-navbar-tooltip mt-2"
                >Dashboard</span
              ></a
            >
          </li>
          <li>
            <a href="#"><i class="fa fa-building" aria-hidden="true"></i> </a>
          </li>
          <li>
            <a href="#"
              ><i class="fa fa-user-circle-o" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a href="#"
              ><i class="fa fa-handshake-o" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> </a>
          </li>
          <li>
            <a class="tooltip pointer">
              <i class="fa fa-envelope-open-o"></i>
              <span class="tooltiptext side-navbar-tooltip"
                >Email Template</span
              ></a
            >
          </li>
          <li>
            <a href="#"><i class="fa fa-tree" aria-hidden="true"></i> </a>
          </li>
          <li>
            <a href="#"
              ><i class="fa fa-address-book-o" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </ng-template>
      <ng-template [ngSwitchCase]="2">
        <ul class="sidebar-nav">
          <li>
            <a
              href="#dashboard"
              (click)="godashboard($event)"
              class="tooltip pointer"
            >
              <i class="fa fa-tachometer"></i>
              <span class="tooltiptext side-navbar-tooltip mt-2"
                >Dashboard</span
              ></a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> </a>
          </li>
          <li>
            <a class="tooltip pointer">
              <i class="fa fa-envelope-open-o"></i>
              <span class="tooltiptext side-navbar-tooltip"
                >Email Template</span
              ></a
            >
          </li>
          <li>
            <a href="#dairy" (click)="goDairy($event)" class="tooltip pointer">
              <i class="fa fa-address-book-o"></i>
              <span class="tooltiptext side-navbar-tooltip"
                >User Dairy
              </span></a
            >
          </li>
        </ul>
      </ng-template>
      <ng-template [ngSwitchCase]="3">
        <ul class="sidebar-nav">
          <!-- <li>
                      <a href="/dashboard" (click)="godashboard()" 
                        ><i class="fa fa-tachometer" aria-hidden="true"></i>
                      </a>
                    </li> -->
          <li>
            <a
              href="#dashboard"
              (click)="godashboard($event)"
              class="tooltip pointer"
            >
              <i class="fa fa-tachometer"></i>
              <span class="tooltiptext side-navbar-tooltip mt-2"
                >Dashboard</span
              ></a
            >
          </li>
          <li>
            <a class="tooltip pointer">
              <i class="fa fa-envelope-open-o"></i>
              <span class="tooltiptext side-navbar-tooltip"
                >Email Template</span
              ></a
            >
          </li>
          <li>
            <a href="#dairy" (click)="goDairy($event)" class="tooltip pointer">
              <i class="fa fa-address-book-o"></i>
              <span class="tooltiptext side-navbar-tooltip"
                >User Dairy
              </span></a
            >
          </li>
        </ul>
      </ng-template>
      <ng-template [ngSwitchCase]="4">
        <ul class="sidebar-nav">
          <li>
            <a
              href="#dashboard"
              (click)="godashboard($event)"
              class="tooltip pointer"
            >
              <i class="fa fa-tachometer"></i>
              <span class="tooltiptext side-navbar-tooltip mt-2"
                >Dashboard</span
              ></a
            >
          </li>
          <li>
            <a href="#dairy" (click)="goDairy($event)" class="tooltip pointer">
              <i class="fa fa-address-book-o"></i>
              <span class="tooltiptext side-navbar-tooltip"
                >User Dairy
              </span></a
            >
          </li>
        </ul>
      </ng-template>
      <ng-template [ngSwitchCase]="5">
        <ul class="sidebar-nav">
          <li>
            <a
              href="#dashboard"
              (click)="godashboard($event)"
              class="tooltip pointer"
            >
              <i class="fa fa-tachometer"></i>
              <span class="tooltiptext side-navbar-tooltip mt-2"
                >Dashboard</span
              ></a
            >
          </li>
          <li>
            <a href="#"
              ><i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-sitemap" aria-hidden="true"></i> </a>
          </li>
          <li>
            <a href="#"
              ><i class="fa fa-exclamation-triangle" aria-hidden="true"></i
            ></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-tree" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="#dairy" (click)="goDairy($event)" class="tooltip pointer">
              <i class="fa fa-address-book-o"></i>
              <span class="tooltiptext side-navbar-tooltip"
                >User Dairy
              </span></a
            >
          </li>
        </ul>
      </ng-template>
    </div>
  </div>

  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
</div>
<!-- /#wrapper -->
